section.about
	.about__title
		img(src='images/show/dronico_text.svg', alt='dronico_text')
	.about__text-container
		.about__text-title.title.title-dark
			span Drone Light Show -
			|  новейший способ обогатить любое ваше событие
		.about__text-text
			| Компания DRONICО была основана в 2020 году. Мы — официальные представители крупнейшей китайской ассоциации дронов Uflying Technology (HK) Co Limited и компании HighGreat Innovation Technology Development Co., Ltd в России.
	//- .about__image
		img(src='images/show/team_photo.webp' alt='team')