article.presentation.light-show.invisible
  .pattern_top
  video(class="video-dark" loop muted autoplay="autoplay" preload="auto" poster="images/show/video_TOP.jpg")
    source(src="video/video_dron.webm" type="video/webm")
    source(src="video/video_dron.mp4" type="video/mp4")
  img(class="img-dark mobile" loading="lazy" src="images/show/video_TOP.jpg" alt="darkBg")
  .presentation__title
  .presentation__subtitle
    h1.title-dark световое шоу дронов
  .presentation__text
    p Прикоснитесь к будущему в сфере искусства и технологий
  .presentation__button-wrapper
    .presentation__button.box.intransition
      p Заказать звонок
  ul.presentation__coords
    li.scrumble-text 21.512344233, 35.1129764
    li.scrumble-text 23.5d124323, 13.1195744
    li.scrumble-text 70.512323, 45.11974
  .presentation__blocs-left
  .presentation__bloc-left.bloc
  .presentation__blocs-right
  .presentation__bloc-right.bloc
  .presentation__plus.presentation__plus--left +
  .presentation__plus.presentation__plus--right +
  .presentation__plus.presentation__plus--right-top +
