html{
	font-size: 10px;
}

body {
	background: $background;
	font-family: 'RoadRadio', Arial, Helvetica, sans-serif;
	font-weight: 300;
}

.wrapper {
 margin: 0 30px 0 30px;
}

.wrapper-dark,
.wrapper-dark a{
	color: #fff;
}

.big-title img,
.about img{
	width: 100%;
}