.about {
	position: relative;
	// padding-bottom: 131px;
	&__title {
		position: absolute;
		img {
			width: 96vw;
		}
	}

	&__text-container {
		padding-top: 6.1%;
		display: flex;
		justify-content: space-between;
		padding-bottom: 89px;
	}

	&__text-title {
		max-width: 670px;
	}

	&__text-text {
		max-width: 1070px;
		font-size: 3.6rem;
		line-height: 5.2rem;
	}
}

@media (min-width: 1950px) {
	.about {
		&__text-title {
			max-width: 45vw;
		}
		&__text-text{
			max-width: 50vw;
		}
	}
}

@media (max-width: 1440px) {
	.about {
		&__title {
			position: absolute;
		}

		&__text-container {
			padding-top: 6.1%;
			display: flex;
			justify-content: space-between;
			padding-bottom: 89px;
		}

		&__text-title {
			width: 675px;
			max-width: 650px;
		}

		&__text-text {
			width: 60vw;
			max-width: 900px;
		}
	}
}

@media (max-width: 1025px) {
	.about {
		&__title {
			display: none;
		}
		&__text-container {
			display: block;
			padding-bottom: 50px;
		}
		&__text-title {
			width: 100%;
			max-width: 100%;
			margin-bottom: 50px;
		}

		&__text-text {
			font-size: 2.6rem;
			line-height: 143%;
			width: 100%;
			max-width: 100%;
		}
	}
}

@media (max-width: 550px) {
	.about {
		padding-bottom: 10vw;
		&__text-container {
			display: block;
			padding-bottom: 8vw;
		}
		&__text-title {
			width: 100%;
			max-width: 100%;
			margin-bottom: 8vw;
		}

		&__text-text {
			font-size: 2.6rem;
			line-height: 143%;
			width: 100%;
			max-width: 100%;
		}
	}
}
