$cornDron: 2.2vw;
$borderWidthDron: 2px;
$calculateDron: calc(2.2vw + 2px);

.dronico-slider {
	display: flex;
	margin-bottom: -60px;
	justify-content: end;
	position: relative;
	width: 100%;
	height: 90vh;
	border: 2px solid $cardBorderColor;
	background: linear-gradient(-45deg, $cardBorderColor 0 $calculateDron, transparent 0) bottom right / 50% 50%,
		linear-gradient(135deg, $cardBorderColor 0 $calculateDron, transparent 0) top left / 50% 50%, $alpha;
	background-origin: border-box;
	background-repeat: no-repeat;
	-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
		linear-gradient(-45deg, transparent 0 $cornDron, #fff 0) bottom right,
		linear-gradient(135deg, transparent 0 $cornDron, #fff 0) top left,
		linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
	-webkit-mask-size: 50.5% 50.5% !important;
	-webkit-mask-repeat: no-repeat !important;

	&__container {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 55vw;
	}
	&__slide {
		display: flex;
	}
	&__img {
		width: 36vw;
		&-container {
			position: absolute;
			top: 0;
			height: 89.6vh;
			padding: 2px;
			z-index: 1;
			width: 36vw;
			img {
				-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
					linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
					linear-gradient(135deg, transparent 0 $cornDron, #fff 0) top left,
					linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
				-webkit-mask-size: 50% 50% !important;
				-webkit-mask-repeat: no-repeat !important;
				height: 100%;
				width: auto;
			}
		}
	}
	&__imgNum-container {
		position: absolute;
		width: 350px;
		top: 15%;
		left: 17vw;
		z-index: 5;
		svg{
			height: 10vw;
		}
	}

	&__content {
		margin-top: 150px;
	}
	&__title {
		font-size: 6.4rem;
		line-height: 6.5rem;
		color: #8e42ff;
		max-width: 742px;
		opacity: 0;
		transition: all 0.8s ease 0.6s;
	}
	&__subtitle {
		margin-top: 35px;
		max-width: 810px;
		font-family: "Geometria";
		font-size: 2.4rem;
		line-height: 3rem;
		opacity: 0;
		transition: all 0.9s ease 0.7s;
	}
	&__types {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		width: 48vw;
		opacity: 0;
		transition: all 1s ease 0.8s;
	}
	.types {
		&__card {
			max-width: 290px;
		}
		&__title {
			margin-top: 60px;
			font-size: 2.4rem;
			line-height: 2.4rem;
			max-width: 200px;
		}
		&__text {
			font-family: "Geometria";
			margin-top: 32px;
			font-size: 1.6rem;
			line-height: 2rem;
			opacity: 0.6;
			text-transform: none;
		}
	}
	&__pagination {
		&-prev,
		&-next {
			position: absolute;
			width: 5.8vw;
			height: 4.2vw;
			top: 50px;
			cursor: pointer;
			z-index: 22;
			transition: $transition;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
		}
		&-prev {
			right: 145px;
			top: 23px;
			background-image: url("../images/show/use_arrow.svg");
			transform: rotate(180deg);
			transition: background-image 0.5s ease;
		}
		&-next {
			right: 25px;
			top: 14%;
			background-image: url("../images/show/use_arrow.svg");
			transition: background-image 0.5s ease;
		}
		&-prev:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
			transform: rotate(180deg);
		}
		&-next:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
		}
	}
}

.swiper-slide-active {
	.dronico-slider {
		&__title,
		&__subtitle,
		&__types {
			opacity: 1;
		}
	}
}

@media (max-width: 1440px) {
	.dronico-slider {
		&__container {
			width: 53vw;
		}
		&__subtitle {
			max-width: 50vw;
		}
		&__imgNum-container {
			display: flex;
			left: 10vw;
			svg {
				height: 12vw;
			}
		}
		&__content {
			margin-top: 170px;
		}
		&__types {
			width: 50vw;
		}
		.types {
			&__card {
				max-width: 220px;
			}
		}
		&__pagination {
			&-prev,
			&-next {
				background-size: 80%;
			}
			&-prev {
				top: 1%;
			}
			&-next {
				top: 10%;
			}
		}
	}
}

@media (max-width: 1300px) {
	.dronico-slider {
		&__pagination {
			&-prev,
			&-next {
				width: 7vw;
				height: 5.6vw;
			}
			&-prev {
				right: 10%;
			}
			&-next {
				top: 8%;
			}
		}
	}
}

@media (max-width: 1025px) {
	$cornDron: 3vw;
	.dronico-slider {
		display: block;
		margin-bottom: 0;
		position: relative;
		width: 100%;
		height: auto;
		border: none;
		background: none;
		&__pagination {
			&-prev,
			&-next {
				width: 7.5vw;
				height: 6vw;
			}
			&-next {
				top: 9%;
			}
			&-prev {
				top: 4%;
			}
		}
		&__container {
			position: static;
			z-index: 2;
			top: 0;
			right: 0;
			width: 100vw;
		}
		&__slide {
			display: block;
		}
		&__img {
			width: 100%;
			&-container {
				height: 50vh;
				width: 100%;
				-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
					linear-gradient(-45deg, transparent 0 $cornDron, #fff 0) bottom right,
					linear-gradient(135deg, transparent 0 $cornDron, #fff 0) top left,
					linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
				-webkit-mask-size: 50% 50% !important;
				-webkit-mask-repeat: no-repeat !important;
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
		&__imgNum-container {
			position: absolute;
			width: 350px;
			top: 10%;
			left: 0;
			z-index: 5;
		}

		&__content {
			margin-top: 35vh;
			padding: 0 15px 0 15px;
		}
		&__title {
			font-size: 5rem;
			line-height: 5.1rem;
			color: #8e42ff;
			max-width: 100vw;
		}
		&__subtitle {
			margin-top: 20px;
			max-width: 100%;
		}
		&__types {
			margin-top: 40px;
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}
		.types {
			&__card {
				max-width: 45vw;
			}
			&__card:nth-child(3) {
				max-width: 100%;
			}

			&__icon {
				display: none;
			}
			&__title {
				margin-top: 30px;
				font-size: 3.5rem;
				line-height: 3.5rem;
				max-width: none;
			}
			&__text {
				margin-top: 13px;
				font-size: 2.5rem;
				line-height: 3rem;
			}
		}
	}
}
