$cornDron: 45px;
$borderWidthDron: 2px;
$calculateDron: $cornDron + $borderWidthDron;

.dronico-slider {
	display: flex;
	margin-bottom: -60px;
	justify-content: end;
	position: relative;
	width: 100%;
	height: 90vh;
	border: 2px solid $cardBorderColor;
	background: linear-gradient(-45deg, $cardBorderColor 0 $calculateDron, transparent 0) bottom right / 50% 50%,
		linear-gradient(135deg, $cardBorderColor 0 $calculateDron, transparent 0) top left / 50% 50%, $alpha;
	background-origin: border-box;
	background-repeat: no-repeat;
	-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
		linear-gradient(-45deg, transparent 0 $cornDron, #fff 0) bottom right,
		linear-gradient(135deg, transparent 0 $cornDron, #fff 0) top left,
		linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
	-webkit-mask-size: 50.5% 50.5% !important;
	-webkit-mask-repeat: no-repeat !important;

	&__container {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 55vw;
	}
	&__slide {
		display: flex;
	}
	&__img {
		width: 36vw;
		&-container {
			position: absolute;
			top: 0;
			height: 89.6vh;
			padding: 2px;
			z-index: 1;
			width: 36vw;
			img {
				-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
					linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
					linear-gradient(135deg, transparent 0 $cornDron, #fff 0) top left,
					linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
				-webkit-mask-size: 50% 50% !important;
				-webkit-mask-repeat: no-repeat !important;
				height: 100%;
				width: auto;
			}
		}
	}
	&__imgNum-container {
		position: absolute;
		width: 350px;
		top: 15%;
		left: 22%;
		z-index: 5;
	}

	&__content {
		margin-top: 150px;
	}
	&__title {
		font-size: 6.4rem;
		line-height: 6.5rem;
		color: #8e42ff;
		max-width: 742px;
		opacity: 0;
		transition: all 0.8s ease 0.6s;
	}
	&__subtitle {
		margin-top: 35px;
		max-width: 810px;
		font-family: "Geometria";
		font-size: 2.4rem;
		line-height: 3rem;
		opacity: 0;
		transition: all 0.9s ease 0.7s;
	}
	&__types {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		width: 48vw;
		opacity: 0;
		transition: all 1s ease 0.8s;
	}
	.types {
		&__card {
			max-width: 290px;
		}
		&__title {
			margin-top: 60px;
			font-size: 2.4rem;
			line-height: 2.4rem;
			max-width: 200px;
		}
		&__text {
			font-family: "Geometria";
			margin-top: 32px;
			font-size: 1.6rem;
			line-height: 2rem;
			opacity: 0.6;
			text-transform: none;
		}
	}
	&__pagination {
		&-prev,
		&-next {
			position: absolute;
			width: 113px;
			height: 82px;
			cursor: pointer;
			z-index: 22;
		}
		&-prev {
			right: 145px;
			top: 23px;
			background: url("../images/show/use_arrow.svg") no-repeat;
			transform: rotate(180deg);
			transition: background-image 0.5s ease;
		}
		&-next {
			right: 25px;
			top: 105px;
			background: url("../images/show/use_arrow.svg") no-repeat;
			transition: background-image 0.5s ease;
		}
		&-prev:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
			transform: rotate(180deg);
		}
		&-next:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
		}
	}
}

.swiper-slide-active {
	.dronico-slider {
		&__title,
		&__subtitle,
		&__types {
			opacity: 1;
		}
	}
}

@media (max-width: 1440px) {
	.dronico-slider {
		&__container {
			width: 53vw;
		}
		&__subtitle {
			max-width: 50vw;
		}
		&__imgNum-container {
			left: 20%;
			display: flex;
			svg {
				height: 140px;
			}
		}
		&__content {
			margin-top: 170px;
		}
		&__types {
			width: 50vw;
		}
		.types {
			&__card {
				max-width: 220px;
			}
		}
		&__pagination {
			&-prev,
			&-next {
				background-size: 80%;
			}
			&-prev {
				top: 1%;
			}
			&-next {
				top: 10%;
			}
		}
	}
}
