.footer {
	padding: 0 30px 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	line-height: 2rem;
	letter-spacing: 0.055em;
	color: #ffffff;
	&__wrapper {
		display: flex;
		width: 50%;
		align-items: center;
		justify-content: space-between;
	}

	&__social-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 283px;
		svg{
			cursor: pointer;
			path {
				fill: transparent;
				transition: $transition;
			}
		}
		svg:hover{
			path {
				fill: rgba(122, 34, 255, 0.9);
			}
			path.stroke{
				fill: #121421;
			}
		}
	}

	&__policy a {
		color: #fff;
		position: relative;
	}
	&__policy a:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background: #fff;
		transition: $transition;
	}
	&__policy a:hover:after {
		width: 100%;
	}
}

.white {
	.footer,
	.footer__policy a {
		color: #000;
	}
	.footer__policy a:after {
		background: #000;
	}
	.footer{
		&__social-icons {
			svg{
				path{
					stroke: #000;
				}
			}
			svg:hover{
				path{
					fill: #000;
				}
				path.stroke{
					fill: #fff;
				}
			}
		}
	}
}
