.footer {
	background: url("../images/pattern.png") repeat left 30px;
	padding: 0 30px 70px;

	&__nav {
		margin-bottom: 50px;
		a {
			color: #fff;
		}
	}
	&__menu {
		justify-content: center;
	}
	&__show {
		a {
			color: $main;
			transition: $transition;
		}
	}
	&__aero {
		a {
			transition: $transition;
		}
		a:hover {
			color: $main;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 2rem;
		line-height: 2rem;
		letter-spacing: 0.055em;
		color: #ffffff;
	}
	&__wrapper {
		display: flex;
		width: 50%;
		align-items: center;
		justify-content: space-between;
	}

	&__social-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 283px;
		svg {
			cursor: pointer;
			path {
				fill: transparent;
				transition: $transition;
			}
		}
		svg:hover {
			path {
				fill: rgba(122, 34, 255, 0.9);
			}
			path.stroke {
				fill: #121421;
			}
		}
	}

	&__policy a {
		color: #fff;
		position: relative;
	}
	&__policy a:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background: #fff;
		transition: $transition;
	}
	&__policy a:hover:after {
		width: 100%;
	}
}

.white {
	.footer,
	.footer__policy a {
		color: #000;
	}
	.footer__policy a:after {
		background: #000;
	}
	.footer {
		background: url("../images/patternB.png") repeat;

		&__nav {
			a {
				color: #000;
			}
		}
		&__show {
			a {
				color: #000;
			}
			a:hover {
				color: $main;
			}
		}
		&__aero {
			a {
				color: $main;
			}
			a:hover {
				color: $main;
			}
		}

		&__social-icons {
			svg {
				path {
					stroke: #000;
				}
			}
			svg:hover {
				path {
					fill: #000;
				}
				path.stroke {
					fill: #fff;
				}
			}
		}
	}
}

@media (max-width: 1250px) {
	.footer {
		&__show {
			margin-left: 100px;
		}
	}
}

@media (max-width: 1025px) {
	.footer {
		&__container {
			display: block;
		}

		&__menu {
			position: static;
		}

		&__wrapper {
			display: flex;
			width: 100%;
		}
	}
}

@media (max-width: 550px) {
	.footer {
		&__container {
			display: flex;
			flex-wrap: wrap-reverse;
			font-size: 3.8vw;
			line-height: 3.8vw;
			justify-content: center;
			padding-bottom: 7vw;
		}

		&__nav{
			margin-bottom: 6vw;
		}

		&__nav li {
			margin: 0;
			margin-bottom: 2vw;
			padding: 0;
		}

		&__nav a {
			font-size: 3.8vw;
			line-height: 3.8vw;
		}

		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__policy {
			margin-bottom: 2vw;
		}
		&__rights {
			margin-bottom: 7vw;
		}
	}
}
