.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &.header-dark {
    a {
      color: #fff;
      transition: all 0.5s ease;
    }
    a:hover {
      color: $main;
    }
    .header__show a {
      color: $main;
    }
    path {
      transition: all 0.5s ease;
    }
    svg:hover > path {
      fill: $main;
    }
  }
  &__wrapper {
    display: flex;
    color: #fff;
    align-items: center;
    padding: 30px 30px 0 30px;
    justify-content: space-between;
  }
  &__logo {
    width: 183px;
    svg {
      path:nth-child(1) {
        transition: all 0.5s ease 0.1s;
      }
      path:nth-child(2) {
        transition: all 0.5s ease 0.2s;
      }
      path:nth-child(3) {
        transition: all 0.5s ease 0.3s;
      }
      path:nth-child(4) {
        transition: all 0.5s ease 0.4s;
      }
      path:nth-child(5) {
        transition: all 0.5s ease 0.5s;
      }
      path:nth-child(6) {
        transition: all 0.5s ease 0.6s;
      }
      path:nth-child(7) {
        transition: all 0.5s ease 0.7s;
      }
      path:nth-child(8) {
        transition: all 0.5s ease 0.8s;
      }
    }
    svg:hover {
      path {
        fill: $main;
      }
    }
  }
  &__menu {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    max-width: 720px;
    width: 720px;
  }
}
.contacts {
  display: flex;
  align-items: center;
  &__icon {
    width: 24px;
    margin-right: 24px;
  }
  &__phone {
    font-size: 2.4rem;
    font-weight: bold;
    position: relative;
    transition: all 0.5s ease;
  }
}

.white {
  .header {
    .header__show a {
      color: #fff;
    }
    .header__aero a {
      color: $main;
    }
    a:hover {
      color: $main;
    }
  }
}

.red {
  .header {
    .header__show a {
      color: #fff;
    }
    .header__aero a {
      color: #fff;
    }
    .header__cinematic a {
      color: $red;
    }
    a:hover {
      color: $red;
      path {
        fill: $red;
      }
    }
    .header__logo {
      svg:hover {
        path {
          fill: $red;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .header {
    &__logo {
      width: 150px;
      svg {
        width: 135px;
      }
    }
    &__menu {
      font-size: 1.9rem;
      width: 550px;
    }

    &__nav {
      margin-left: 150px;
    }

    .contacts {
      &__icon {
        svg {
          width: 18px;
        }
      }
      &__phone {
        font-size: 2.7rem;
      }
    }
  }
}

@media (max-width: 1025px) {
  .header {
    &__logo {
      width: 170px;
      svg {
        width: 165px;
      }
    }
    &__menu {
      font-size: 2.65rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 22vh;
      width: 100%;
      justify-content: center;

      li {
        margin: 0 15px;
      }
    }
    .contacts {
      &__icon {
        display: none;
      }
      &__phone {
        font-size: 3.6rem;
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    &__logo {
      width: 100px;
      svg {
        width: 100px;
      }
    }
    &__menu {
      font-size: 2.65rem;
      top: 22vh;
      width: 100%;
      display: block;
      text-align: center;
      li {
        padding-bottom: 20px;
      }
    }
    &__show {
      margin: 0;
    }
    .contacts {
      &__phone {
        font-size: 2.4rem;
        padding-right: 30px;
      }
    }
  }
}
