.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	&.header-dark {
		a {
			color: #fff;
			transition: color 0.5s ease;
		}
		a:hover {
			color: $main;
		}
		.header__show a {
			color: $main;
		}
		path {
			transition: all 0.5s ease;
		}
		svg:hover > path {
			fill: $main;
		}
	}
	&__wrapper {
		display: flex;
		color: #fff;
		align-items: center;
		padding: 30px 30px 0 30px;
		justify-content: space-between;
	}
	&__logo {
		width: 183px;
	}
	&__menu {
		display: flex;
		font-size: 1.8rem;
	}
	&__show {
		margin-left: 150px;
		margin-right: 60px;
	}
}
.contacts {
	display: flex;
	&__icon {
		width: 24px;
		margin-right: 24px;
	}
	&__phone {
		font-size: 2.4rem;
		font-weight: bold;
		position: relative;
		transition: all 0.5s ease;
	}
}

.white {
	.header{
		.header__show a {
			color: #fff;
		}
		.header__aero a{
			color: #000;
		}
		svg:hover > path {
			fill: #000;
		}
		a:hover{
			color: #000;
		}
	}
}