$cornMap: 3.5vw;
$borderWidthMap: 3px;
$calculateMap: calc(3.5vw + 3px);
$mapColor: #6024ba;

.map {
	margin-bottom: 70px;
	display: flex;
	&__btn-wrapper {
		position: static;
		margin-top: 30px;
	}
	&__btn.box {
		display: inline-block;
		width: 15vw;
		border: $borderWidthPres solid $main;
		background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
			linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 $cornPres, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 $cornPres, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 51% 51% !important;
		-webkit-mask-repeat: no-repeat !important;
		transition: all 0.5s ease;
		text-align: center;
		&:hover {
			background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $main;
			background-origin: border-box;
			background-repeat: no-repeat;
		}
	}

	&__container {
		padding: 3.5vw 0 0 3vw;
		position: relative;
		width: 50%;
		height: 43vw;
		border: $borderWidthMap solid $cardBorderColor;
		background: linear-gradient(135deg, $cardBorderColor 0 $calculateMap, transparent 0) top left / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 $cornMap, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 50.5% 50.5% !important;
		-webkit-mask-repeat: no-repeat !important;
		&-line {
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: url("../images/show/map_line.png") no-repeat;
			background-size: 100% 100%;
			transition: all 0.5s ease;
		}
	}

	&__contacts {
		position: absolute;
		bottom: 5vw;
		right: 5vw;
		font-size: 2vw;
		line-height: 2vw;
		letter-spacing: 0.055em;
		a {
			transition: $transition;
			&:hover {
				color: $main;
			}
		}
	}
	&__title {
		position: relative;
		z-index: 22;
		font-size: 3vw;
	}

	&__social-icons {
		padding-bottom: 20px;
		svg {
			cursor: pointer;
			width: 2.5vw;
			height: 2.5vw;
			margin-right: 10px;
			path {
				transition: $transition;
			}
		}
		svg:hover {
			path {
				fill: $main;
			}
		}
	}

	&__contacts-phone {
		padding-bottom: 20px;
	}

	&__map {
		position: relative;
		width: 50%;
		height: 43vw;
		border: $borderWidthMap solid $cardBorderColor;
		border-left: none;
		background: linear-gradient(-45deg, $cardBorderColor 0 $calculateMap, transparent 0) bottom right / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 $cornMap, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 0, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 50.5% 50.5% !important;
		-webkit-mask-repeat: no-repeat !important;
	}
	#map {
		width: 100%;
		height: 100%;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 $cornMap, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 0, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 50.5% 50.5% !important;
		-webkit-mask-repeat: no-repeat !important;
	}
	&__zoom {
		position: absolute;
		bottom: 15%;
		left: 20px;
		&-plus,
		&-minus {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.4vw;
			height: 3.4vw;
			border-radius: 50%;
			cursor: pointer;
			transition: $transition;
		}
		&-plus {
			background: $mapColor;
			margin-bottom: 20px;
		}
		&-minus {
			bottom: 10%;
			background: #fff;
		}
		&-plus:after,
		&-minus:after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: Geometria;
			font-weight: 500;
			font-size: 1.3vw;
			line-height: 3rem;
			transition: $transition;
		}
		&-plus:after {
			content: "+";
			color: #fff;
		}
		&-minus:after {
			content: "-";
			color: $mapColor;
			font-size: 3.6rem;
			line-height: 4rem;
		}
		&-minus:hover:after {
			color: #fff;
		}
		&-plus:hover,
		&-minus:hover {
			background: #9a45e6;
			transform: scale(1.1);
		}
		&-minus:hover:after,
		&-plus:hover:after {
			transform: translate(-50.7%, -50.7%) scale(0.9);
		}
	}
}

.white {
	.map {
		&__social-icons {
			svg {
				path {
					fill: #000;
					transition: $transition;
				}
			}
			svg:hover {
				path {
					fill: $main;
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.map {
		&__btn-wrapper {
			position: static;
			margin-top: 20px;
		}
		&__btn.box {
			p {
				font-size: 2.2rem;
			}
		}
		&__zoom {
			&-plus,
			&-minus {
				width: 4.4vw;
				height: 4.4vw;
			}
			&-plus:after,
			&-minus:after {
				font-size: 1.8vw;
			}
		}
	}
}

@media (max-width: 1025px) {
	$cornPres: 1.1vw;
	$borderWidthPres: 3px;
	$calculatePres: calc(1.1vw + 3px);
	.map {
		&__title {
			font-size: 2.5vw;
		}
		&__btn.box {
			height: 50px;
			border: $borderWidthPres solid $main;
			background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornPres, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornPres, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 51% 51% !important;
			-webkit-mask-repeat: no-repeat !important;
			p {
				font-size: 1.5rem;
			}
		}

		&__zoom {
			&-plus,
			&-minus {
				width: 5.4vw;
				height: 5.4vw;
			}
			&-plus:after,
			&-minus:after {
				font-size: 2.3vw;
			}
		}
	}
}

@media (max-width: 768px) {
	.map {
		&__container {
			padding-right: 3vw;
		}
		&__btn.box {
			width: 100%;
			height: 7vw;
		}
		&__contacts {
			bottom: 5vw;
			right: auto;
			left: 3vw;
		}
		&__title {
			font-size: 3vw;
			line-height: 3.8vw;
		}

		.hide-br {
			display: none;
		}

		&__contacts-phone {
			padding-bottom: 10px;
		}
		&__social-icons {
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 550px) {
	$cornMap: 3.5vw;
	$borderWidthMap: 2px;
	$calculateMap: calc(3.5vw + 2px);
	$mapColor: #6024ba;

	$cornPres: 3vw;
	$borderWidthPres: 3px;
	$calculatePres: calc(3vw + 3px);

	.map {
		display: block;
		margin-bottom: 8vw;

		&__btn.box {
			width: 100%;
			height: 14vw;

			border: $borderWidthPres solid $main;
			background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornPres, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornPres, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 51% 51% !important;
			-webkit-mask-repeat: no-repeat !important;

			p {
				font-size: 3.5vw;
			}
		}

		&__title {
			font-size: 6.6vw;
			line-height: 8vw;
		}
		&__contacts {
			font-size: 5vw;
			line-height: 5.1vw;
		}
		&__social-icons {
			svg {
				height: 6.5vw;
				width: 6.5vw;
			}
		}

		&__container {
			padding: 3.5vw 3vw 0 3vw;
			width: 100%;
			height: 85vw;
			border: $borderWidthMap solid $cardBorderColor;
			background: linear-gradient(135deg, $cardBorderColor 0 $calculateMap, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornMap, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 51% 51% !important;
			-webkit-mask-repeat: no-repeat !important;
		}

		&__map {
			width: 100%;
			height: 85vw;
			border: $borderWidthMap solid $cardBorderColor;
			border-top: none;
			background: linear-gradient(-45deg, $cardBorderColor 0 $calculateMap, transparent 0) bottom right / 50% 50%,
				$alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornMap, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 0, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 51% 51% !important;
			-webkit-mask-repeat: no-repeat !important;
		}
		#map {
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornMap, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 0, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 51% 51% !important;
			-webkit-mask-repeat: no-repeat !important;
		}
		&__zoom {
			display: none;
		}
	}
}
