$cornPres: 13px;
$borderWidthPres: 3px;
$calculatePres: $cornPres + $borderWidthPres;

.presentation {
	position: relative;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	video {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
	.mobile {
		display: none;
	}

	.pattern_top {
		position: absolute;
		height: 100vh;
		width: 100vw;
		z-index: 1;
		background: url("../images/pattern.png") repeat;
	}
	&__title {
		height: 100vh;
		width: 100vw;
		padding-right: 20px;
	}
	&__subtitle {
		position: absolute;
		top: 38%;
		font-weight: 900;
		font-size: 9.6rem;
		line-height: 9.7rem;
		width: 100%;
	}

	&__text {
		font-size: 2.4rem;
		line-height: 2.4rem;
		width: 100%;
		position: absolute;
		top: calc(38% + 230px);
		p {
			width: 520px;
			margin: 0 auto;
		}
	}

	&__button-wrapper {
		width: 100%;
		position: absolute;
		bottom: 7%;
		z-index: 2;
	}
	&__button {
		cursor: pointer;
		&.box {
			position: relative;
			width: 325px;
			height: 72px;
			display: inline-block;
			border: $borderWidthPres solid $main;
			background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $main;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornPres, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornPres, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 51% 51% !important;
			-webkit-mask-repeat: no-repeat !important;
			transition: all 0.5s ease;
		}
		p {
			position: absolute;
			font-size: 1.8rem;
			line-height: 1.8rem;
			width: 320px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__button:hover {
		&.box {
			background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
		}
	}

	&__coords {
		position: absolute;
		bottom: 150px;
		left: 30px;
		text-align: left;
		font-size: 1.2rem;
		line-height: 20px;
		opacity: 0.2;
		font-weight: 400;
	}
	.presentation__blocs-left,
	.presentation__bloc-left,
	.presentation__blocs-right,
	.presentation__bloc-right {
		position: absolute;
	}
	.presentation__blocs-left {
		width: 160px;
		height: 160px;
		background: url("../images/show/presentation_blocs-left.png") no-repeat;
		bottom: 21%;
		left: 0%;
	}
	.presentation__blocs-right {
		width: 100px;
		height: 200px;
		background: url("../images/show/presentation_blocs-right.png") no-repeat;
		bottom: 22.5%;
		right: 3.5%;
	}
	.presentation__bloc-left {
		bottom: 45%;
		left: 5.5%;
	}
	.presentation__bloc-right {
		bottom: 33.5%;
		right: 11.5%;
	}

	&__plus {
		font-size: 24px;
		position: absolute;
		bottom: 90px;
		&--right {
			left: 30px;
		}
		&--left {
			right: 20px;
		}
		&--right-top {
			top: 20px;
			right: 20px;
		}
	}
}

.dark {
	.presentation {
		.video-white {
			display: none;
		}

		&__title {
			position: absolute;
			top: -13%;
		}

		.dark-log {
			width: 100vw;
			height: 100vh;
		}

		&__subtitle {
			.title-dark {
				max-width: 700px;
				margin: 0 auto;
			}
			.title-white {
				display: none;
			}
		}
		.bg-white {
			display: none;
		}
	}
}

.white {
	.presentation {
		.video-dark {
			display: none;
		}

		&__title {
			position: absolute;
			top: -13%;
		}

		&__subtitle {
			top: 22%;
			.title-dark {
				display: none;
			}
			.title-white {
				font-size: 7.2rem;
				line-height: 7.3rem;
				max-width: 1200px;
				margin: 0 auto;
			}
		}
		&__text {
			top: calc(38% + 270px);
		}

		.bg-dark {
			display: none;
		}
		.bg-white {
			display: block;
		}
	}
}

@media (max-width: 1440px) {
	.presentation {
		&__subtitle {
			font-size: 11.7rem;
			line-height: 11.8rem;
		}

		&__text {
			font-size: 2.95rem;
			line-height: 3.05rem;
			top: calc(38% + 210px);
		}
		&__button {
			&.box {
				width: 300px;
			}
			p {
				font-size: 2.3rem;
				line-height: 2.3rem;
				width: 300px;
			}
		}

		&__coords {
			opacity: 0.5;
			bottom: 14%;
		}

		&__plus {
			bottom: 9%;
		}
	}

	.dark {
		.presentation {
			&__title {
				position: absolute;
				top: -10%;
			}
			&__subtitle {
				.title-dark {
					max-width: 600px;
				}
			}
		}
	}

	.white {
		.presentation {
			.video-dark {
				display: none;
			}

			&__title {
				position: absolute;
				top: -10%;
			}

			&__subtitle {
				top: 27%;
				.title-white {
					max-width: 860px;
				}
			}
			&__text {
				top: calc(38% + 220px);
			}
		}
	}
}

@media (max-width: 1025px) {
	.presentation {
		&__subtitle {
			font-size: 11rem;
			line-height: 11.2rem;
		}

		&__text {
			font-size: 3.4rem;
			line-height: 3.5rem;
			top: calc(38% + 210px);
		}
		&__button-wrapper {
			bottom: 16%;
		}
		&__button {
			&.box {
				width: 300px;
			}
			p {
				font-size: 2.3rem;
				line-height: 2.3rem;
				width: 300px;
			}
		}

		&__coords {
			bottom: 20%;
		}

		&__plus {
			bottom: 17%;
		}
	}

	.dark {
		.presentation {
			&__title {
				position: absolute;
				top: -10%;
			}
			&__subtitle {
				.title-dark {
					max-width: 550px;
				}
			}
		}
	}

	.white {
		.presentation {
			.video-dark {
				display: none;
			}

			&__title {
				position: absolute;
				top: -10%;
			}

			&__subtitle {
				top: 27%;
				.title-white {
					max-width: 860px;
				}
			}
			&__text {
				top: calc(38% + 220px);
			}
		}
	}
}

@media (max-width: 768px) {
	.presentation {
		video {
			display: none;
		}
		.mobile {
			display: block;
		}
		.img-white {
			display: none;
		}
	}
	.white {
		.presentation {
			.img-white {
				display: block;
			}
			.img-dark {
				display: none;
			}
			.title-white {
				max-width: 90%;
			}
		}
	}
}

@media (max-width: 550px) {
	$cornPres: 10px;
	$borderWidthPres: 2px;
	$calculatePres: $cornPres + $borderWidthPres;
	.presentation {
		&__title {
			display: none;
		}

		&__subtitle {
			max-width: 95vw;
			font-size: 12.8vw;
			line-height: 13.3vw;
			top: 36vh;
		}
		&__text {
			top: 60vh;
			font-size: 4vw;
			line-height: 4.1vw;
			p {
				width: 320px;
			}
		}
		&__button {
			cursor: pointer;
			&-wrapper {
				bottom: auto;
				top: 78vh;
			}
			&.box {
				position: relative;
				width: 64.5vw;
				height: 52px;
				display: inline-block;
				border: $borderWidthPres solid $main;
				background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
					linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $main;
				background-origin: border-box;
				background-repeat: no-repeat;
				-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
					linear-gradient(-45deg, transparent 0 $cornPres, #fff 0) bottom right,
					linear-gradient(135deg, transparent 0 $cornPres, #fff 0) top left,
					linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
				-webkit-mask-size: 51% 51% !important;
				-webkit-mask-repeat: no-repeat !important;
				transition: all 0.5s ease;
			}
			p {
				font-size: 4vw;
				line-height: 4.1vw;
			}
		}
		&__button:hover {
			&.box {
				background: linear-gradient(-45deg, $main 0 $calculatePres, transparent 0) bottom right/50% 50%,
					linear-gradient(135deg, $main 0 $calculatePres, transparent 0) top left / 50% 50%, $alpha;
				background-origin: border-box;
				background-repeat: no-repeat;
			}
		}
		&__coords {
			display: none;
		}
		&__plus {
			bottom: auto;
			top: 80vh;
			&--right {
				left: 30px;
			}
			&--left {
				right: 20px;
			}
			&--right-top {
				top: 20px;
				right: 20px;
			}
		}
	}
	.dark {
		.presentation {
			&__subtitle {
				.title-dark {
					max-width: 320px;
				}
			}
		}
	}
	.white {
		.presentation {
			&__subtitle {
				top: 32vh;
				.title-white {
					font-size: 8vw;
					line-height: 8vw;
				}
			}
			&__text {
				top: 65vh;
			}
			&__button-wrapper {
				bottom: auto;
				top: 78vh;
			}
		}
	}
}


@media (max-width: 900px) and (orientation:landscape)  {
	.presentation {
		height: 800px;
		&__title {
			height: 100%;
		}
		.pattern_top {
			height: 100%;
		}
	}
}