$cornPr: 3.5vw;

.projects {
	position: relative;

	iframe {
		display: none;
	}

	&__title-big {
		img {
			width: 96vw;
		}
	}

	&__title {
		position: absolute;
		top: 55px;
		left: 0;
		max-width: 270px;
	}

	&__wrapper {
		margin-top: 59px;
	}

	&__card {
		display: grid;
		grid-template-areas: "text image";
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 25px;
		margin-bottom: 117px;
		&-img {
			grid-area: image;
			width: auto;
			max-height: 790px;
			position: relative;
			img {
				height: 40vw;
				-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
					linear-gradient(-45deg, transparent 0 $cornPr, #fff 0) bottom right,
					linear-gradient(135deg, transparent 0 $cornPr, #fff 0) top left,
					linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
				-webkit-mask-size: 51% 51% !important;
				-webkit-mask-repeat: no-repeat !important;
			}
			// &:hover{
			// 	.projects__card-btn {
			// 		opacity: 1;
			// 		transform: translate(-50%, -50%) scale(1);
			// 	}
			// }
		}
		// &-btn{
		// 	position: absolute;
		// 	opacity: 0.3;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%) scale(0.9);
		// 	transition: $transition;
		// }
		&-textcontainer {
			grid-area: text;
			max-width: 532px;
			text-transform: uppercase;
			padding-top: 10vw;
		}
		&-title {
			font-weight: 900;
			font-size: 6.4rem;
			line-height: 6.5rem;
		}
		&-text {
			padding-top: 5vw;
			font-size: 2.4rem;
			line-height: 2.4rem;
			p {
				padding-bottom: 31px;
			}
		}
	}
	&__card:nth-child(odd) {
		grid-template-areas: "image text";
	}
	&__card:nth-child(even) {
		.projects__card-img {
			text-align: right;
		}
	}
	.presentation__button-wrapper {
		margin-bottom: 35px;
		position: relative;
		width: 100%;
	}
	.presentation__button {
		&.box {
			display: block;
			margin: 0 auto;
		}
		p {
			color: #fff;
			position: relative;
			text-align: center;
			transition: $transition;
		}
	}
	.presentation__button:hover {
		p {
			color: $mainB;
		}
	}
}

@media (min-width: 1950px) {
	.projects {
		&__card {
			grid-template-columns: auto-fill auto-fill;
			grid-column-gap: 80px;
			&-img {
				max-width: none;
				max-height: none;
			}
		}
	}
}

@media (max-width: 1025px) {
	.projects {
		position: relative;

		&__title-big {
			display: none;
		}
		&__title {
			position: static;
			max-width: 100%;
		}
		&__card {
			&-textcontainer {
				padding-top: 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.projects {
		&__card {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 60px;
			&-img {
				img {
					height: auto;
					width: 100%;
				}
			}
			&-textcontainer {
				max-width: 100%;
				width: 100%;
				padding-top: 28px;
			}
			&-title {
				font-size: 5rem;
				line-height: 5.1rem;
			}
			&-text {
				padding-top: 28px;
				font-size: 2.4rem;
				line-height: 2.4rem;
				p {
					padding-bottom: 23px;
				}
			}
		}
	}
}

@media (max-width: 550px) {
}
