.tech-dronico {
	position: relative;
	padding-top: 230px;
	padding-bottom: 150px;
	display: flex;
	&__title {
		font-weight: 900;
		font-size: 9.6rem;
		line-height: 9.7rem;
		text-transform: uppercase;
		max-width: 686px;
		margin-bottom: 240px;
		span {
			color: $main;
		}
	}
	&__subtitle {
		font-size: 1.2rem;
		line-height: 1.2rem;
		margin-bottom: 100px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 6.5px;
			height: 6.5px;
			top: -16px;
			left: 0;
			background: #fff;
		}
	}
	&__text-wrapper {
		position: relative;
		padding-left: 23px;
		padding-bottom: 10vw;
		border-bottom: 1px solid $main;
		border-image: linear-gradient(to right top, $main, #fff, $main);
		border-image-slice: 1;
		p {
			position: absolute;
			opacity: 0;
			font-size: 2.4rem;
			line-height: 127.9%;
			width: 512px;
			transition: all 0.7s ease 0.3s;
		}
		&::before {
			content: "";
			position: absolute;
			width: 204px;
			height: 100px;
			background: #fff;
			top: -35px;
			left: 0px;
			opacity: 0.02;
		}
		&::after {
			@include pseudoCorn(2px, 0, 0, 2px, -35px, auto, auto, 0, #ffffff00);
		}
	}
	&__text.active-btn {
		opacity: 1;
	}
	&__img {
		position: absolute;
		z-index: 22;
		img {
			width: 100%;
		}
	}
	&__btn {
		position: absolute;
		cursor: pointer;
		top: 60%;
		&::after {
			@include pseudoCorn(0, 2px, 2px, 0, auto, -9px, -10px, auto, #ffffff00);
			transition: all 0.3s ease;
		}
		&::before {
			@include pseudoCorn(0, 0, 2px, 2px, auto, auto, -10px, -9px, #ffffff00);
			transition: all 0.3s ease;
		}
		.tech-dronico__circle {
			position: relative;
			pointer-events: none;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.3);
			transition: all 0.3s ease;
			.tech-dronico__text-container {
				pointer-events: none;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: Geometria;
				font-size: 3.6rem;
				line-height: 4.5rem;
				.plus {
					position: absolute;
					top: 48%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.active-text {
				pointer-events: none;
				opacity: 0;
				transition: opacity 0s ease 0s;
			}
			&::after {
				@include pseudoCorn(2px, 2px, 0, 0, -9px, -10px, auto, auto, #ffffff00);
			}
			&::before {
				@include pseudoCorn(2px, 0, 0, 2px, -9px, auto, auto, -10px, #ffffff00);
			}
		}
	}
	.tech-dronico__btn.active-btn {
		&::after {
			@include pseudoCorn(0, 2px, 2px, 0, auto, -2px, -2px, auto, #ffffff00);
			transition: all 0.3s ease;
		}
		&::before {
			@include pseudoCorn(0, 0, 2px, 2px, auto, auto, -2px, -2px, #ffffff00);
			transition: all 0.3s ease;
		}
		.tech-dronico__circle {
			animation: fromBoxToRectangle 0.5s ease;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			height: 60px;
			border-radius: 0;

			.plus {
				display: none;
			}
			.active-text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-51%, -51%);
				display: inline-block;
				width: 230px;
				text-align: center;
				font-family: RoadRadio;
				font-size: 2.4rem;
				line-height: 4.6rem;
				opacity: 1;
				transition: opacity 0.5s ease 0.4s;
			}
			&::after {
				@include pseudoCorn(2px, 2px, 0, 0, -2px, -2px, auto, auto, #ffffff00);
			}
			&::before {
				@include pseudoCorn(2px, 0, 0, 2px, -2px, auto, auto, -2px, #ffffff00);
			}
		}
	}

	&__img.small {
		top: 25%;
		left: 44%;
		width: 10vw;
		.tech-dronico__btn {
			top: 20%;
			left: 100%;
		}
	}
	&__img.medium {
		top: 38%;
		left: 9%;
		width: 30vw;
		.tech-dronico__btn {
			top: 40%;
			left: 70%;
		}
	}
	&__img.big {
		top: 45%;
		left: 45%;
		width: 50vw;
		.tech-dronico__btn {
			right: 78%;
		}
	}
}

@keyframes fromBoxToRectangle {
	50% {
		width: 60px;
	}
	100% {
		width: 260px;
	}
}

@media (min-width: 1950px) {
	.tech-dronico__btn {
		.tech-dronico__circle {
			.tech-dronico__text-container {
				.plus {
					position: absolute;
					top: 55%;
					left: 50%;
					transform: translate(-49%, -51%);
				}
			}
		}
	}

	.tech-dronico__text-wrapper {
		padding-bottom: 200px;
	}
}

@media (max-width: 1440px) {
	.tech-dronico {
		&__title {
			max-width: 400px;
		}
	}
}

@media (max-width: 1025px) {
	.tech-dronico {
		padding-top: 100px;
		padding-bottom: 100px;
		&__title {
			font-size: 5.1rem;
			line-height: 5.5rem;
			max-width: 300px;
		}
		.tech-dronico__btn {
			position: absolute;
			cursor: pointer;
			top: 60%;
			&::after {
				@include pseudoCorn(0, 2px, 2px, 0, auto, -5px, -5px, auto, #ffffff00);
				transition: all 0.3s ease;
			}
			&::before {
				@include pseudoCorn(0, 0, 2px, 2px, auto, auto, -5px, -5px, #ffffff00);
				transition: all 0.3s ease;
			}
			.tech-dronico__circle {
				width: 30px;
				height: 30px;
				&::after {
					@include pseudoCorn(2px, 2px, 0, 0, -5px, -5px, auto, auto, #ffffff00);
				}
				&::before {
					@include pseudoCorn(2px, 0, 0, 2px, -5px, auto, auto, -5px, #ffffff00);
				}
			}
		}
		.tech-dronico__btn.active-btn {
			&::after {
				@include pseudoCorn(0, 2px, 2px, 0, auto, -2px, -2px, auto, #ffffff00);
				transition: all 0.3s ease;
			}
			&::before {
				@include pseudoCorn(0, 0, 2px, 2px, auto, auto, -2px, -2px, #ffffff00);
				transition: all 0.3s ease;
			}
			.tech-dronico__circle {
				animation: fromBoxToRectangle 0.5s ease;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
				height: 40px;
				border-radius: 0;

				.plus {
					display: none;
				}
				.active-text {
					width: 150px;
					font-size: 1.8rem;
					line-height: 2rem;
				}
				&::after {
					@include pseudoCorn(2px, 2px, 0, 0, -2px, -2px, auto, auto, #ffffff00);
				}
				&::before {
					@include pseudoCorn(2px, 0, 0, 2px, -2px, auto, auto, -2px, #ffffff00);
				}
			}
		}

		&__text-wrapper {
			position: relative;
			padding-left: 23px;
			padding-bottom: 100px;
			width: 90vw;
			p {
				line-height: 127.9%;
				width: 88vw;
			}
		}

		&__img.small {
			top: 15%;
			left: 45%;
			width: 10vw;
		}
		&__img.medium {
			top: 27%;
			width: 30vw;
		}
		&__img.big {
			top: 33%;
			left: 52%;
			width: 40vw;
			.tech-dronico__btn {
				right: 78%;
			}
		}
	}
	@keyframes fromBoxToRectangle {
		50% {
			width: 40px;
		}
		100% {
			width: 150px;
		}
	}
}

@media (max-width: 550px) {
	.tech-dronico {
		padding-top: 10vw;
		&__title {
			font-size: 5.3rem;
			max-width: 230px;
		}
		.tech-dronico__btn {
			display: none;
		}
		&__img.small {
			top: 50%;
			left: 0%;
			width: 15vw;
		}
		&__img.medium {
			top: 30%;
			left: 5%;
			width: 39vw;
		}
		&__img.big {
			top: 41%;
			left: 38%;
			width: 60vw;
		}
		&__subtitle {
			display: none;
		}
		&__text-wrapper {
			padding-left: 0;
			padding-top: 15vw;
			padding-bottom: 20vw;
			&:before {
				top: 7vw;
			}
			&:after {
				top: 7vw;
			}
		}
	}
}

@media (max-width: 375px) {
	.tech-dronico {
		&__text-wrapper {
			padding-bottom: 33vw;
		}
	}
}
