@import "node_modules/mathsass/dist/math";

.using-areas {
	&__title {
		width: 450px;
		margin-top: 50px;
		margin-bottom: 60px;
	}

	&__slider {
	}
}
.using {
	$calcWidth: 449;
	$calcHeight: 344;
	$cardWidth: $calcWidth + 1px;
	$cardHeight: $calcHeight + 1px;
	$corn: 35px;
	$calculate: $corn + $borderWidth;

	&__card {
		width: $cardWidth;

		&--top {
			position: relative;
			width: $cardWidth;
			height: $cardHeight;
			display: inline-block;
			border: $borderWidth solid $cardBorderColor;
			background: linear-gradient(135deg, $cardBorderColor 0 $calculate, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $corn, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 50.5% 50.5%;
			-webkit-mask-repeat: no-repeat;
			transition: all 0.5s ease;
			&-line {
				$calcWidth: sqrt(pow($calcWidth, 2) + pow($calcHeight, 2)) + 1px;
				width: $calcWidth;
				height: 1px;
				background: $cardBorderColor;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(-11%, 0) rotate(142.5deg);
				transition: all 0.5s ease;
			}

			img {
				opacity: 0;
				-webkit-mask:
					linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
					linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
					linear-gradient(135deg, transparent 0 $corn, #fff 0) top left,
					linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
				-webkit-mask-size: 50% 50%;
				-webkit-mask-repeat: no-repeat;
				width: 100%;
				height: 100%;
				transition: all 0.5s ease;
			}
		}
		&--bottom {
			position: relative;
			width: $cardWidth;
			height: $cardHeight;
			display: inline-block;
			border: $borderWidth solid $cardBorderColor;
			border-top: none;
			background:linear-gradient(-45deg, $cardBorderColor 0 $calculate, transparent 0) bottom right / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $corn, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 0, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 50.5% 50.5%;
			-webkit-mask-repeat: no-repeat;
			transition: all 0.5s ease;
		}
	}
	&__card:hover {
		.using__card--top-line {
			opacity: 0;
		}
		img {
			opacity: 1;
		}

	}

	&__card-count {
	}

	&__card-text {
	}

	&__card-pagination {
	}
}
.card-pagination {
	&__left {
	}

	&__right {
	}
}
