@import "node_modules/mathsass/dist/math";
$cardWidthUs: 23vw;
$cardHeightUs: 37vh;
$cornUs: 35px;
$borderWidthUs: 2px;
$calculateUs: $cornUs + $borderWidthUs;

.using-areas {
	position: relative;
	padding-top: 50px;
	&__title {
		width: 450px;
		margin-bottom: 60px;
	}
	&__pagination {
		&-prev,
		&-next {
			position: absolute;
			width: 113px;
			height: 82px;
			top: 50px;
			cursor: pointer;
			transition: $transition;
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&-prev {
			top: 51px;
			right: 9%;
			background-image: url("../images/show/use_arrow.svg");
			transform: rotate(180deg);
		}
		&-next {
			right: 1%;
			background-image: url("../images/show/use_arrow.svg");
		}
		&-prev:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
		}
		&-next:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
		}
	}
}
.using-card {
	&__card {
		width: $cardWidthUs;
		cursor: pointer;
		margin-top: 25px;
		&:after {
			@include pseudoPlus(2.4rem, auto, -30px, -1px, auto, 0);
			transition: $transition;
		}
	}
	&__top {
		position: relative;
		width: $cardWidthUs;
		height: $cardHeightUs;
		display: inline-block;
		border: $borderWidthUs solid $cardBorderColor;
		background: linear-gradient(135deg, $cardBorderColor 0 $calculateUs, transparent 0) top left / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 $cornUs, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 50.5% 50.5% !important;
		-webkit-mask-repeat: no-repeat !important;
		&-line {
			width: $cardWidthUs;
			height: $cardHeightUs;
			position: absolute;
			bottom: 0;
			left: 0;
			background: url("../images/show/use_line.png") no-repeat center;
			background-size: 100% 100%;
			transition: all 0.5s ease;
		}

		img {
			opacity: 0;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornUs, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 50% 50% !important;
			-webkit-mask-repeat: no-repeat !important;
			width: 100%;
			height: calc(100% + 4px);
			margin-top: -1px;
			transition: all 0.5s ease;
		}
	}
	&__bottom {
		position: relative;
		width: $cardWidthUs;
		height: $cardHeightUs;
		display: inline-block;
		overflow: hidden;
		border: $borderWidthUs solid $cardBorderColor;
		border-top: none;
		background: linear-gradient(-45deg, $cardBorderColor 0 $calculateUs, transparent 0) bottom right / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 $cornUs, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 0, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 50.5% 50.5% !important;
		-webkit-mask-repeat: no-repeat !important;
	}
	&__count {
		padding: 21px 0 0 23px;
		opacity: 1;
		transition: opacity 0.5s ease;
	}
	&__visible {
		opacity: 1;
		position: absolute;
		top: 0;
		left: 0;
		padding: 37px 0 0 23px;
		height: $cardHeightUs;
		transform: translateY(23vh);
		transition: $transition;
	}
	&__title {
		font-size: 3rem;
		line-height: 3rem;
		text-transform: uppercase;
		width: 235px;
	}
	&__text {
		margin-top: 30px;
		font-family: Geometria;
		font-size: 2.4rem;
		line-height: 3rem;
		opacity: 0;
		transition: $transition;
	}
	&__card:hover {
		.using-card__top-line {
			opacity: 0;
		}
		img {
			opacity: 1;
		}
		.using-card__visible {
			opacity: 1;
			background: $main;
			transform: translate(0);
		}
		.using-card__text {
			margin-top: 18px;
			opacity: 0.6;
		}
		.using-card__count {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
}

.white {
	.using-areas {
		&__title {
			color: $mainB;
		}
		&__pagination {
			&-prev {
				background-image: url("../images/balloon/use_arrow.svg");
			}
			&-next {
				background-image: url("../images/balloon/use_arrow.svg");
			}
			&-prev:hover {
				background-image: url("../images/show/use_arrow-enable.svg");
			}
			&-next:hover {
				background-image: url("../images/show/use_arrow-enable.svg");
			}
		}
	}
	.using-card {
		&__card {
		}
		&__text {
			color: #fff;
		}
		&__card:hover {
			color: #fff;
			.using-card__visible {
				background: $mainB;
			}
		}
	}
}

@media (max-width: 1440px) {
	$cardWidthUs: 23vw;
	$cardHeightUs: 30vh;
	.using-areas {
		&__pagination {
			&-prev,
			&-next {
				position: absolute;
				width: 113px;
				height: 82px;
				top: 50px;
				cursor: pointer;
				background-size: 80%;
				background-position: center;
			}
			&-prev {
				right: 10%;
			}
		}
	}
	.using-card {
		&__top {
			height: $cardHeightUs;
			&-line {
				height: $cardHeightUs;
			}
		}
		&__bottom {
			height: $cardHeightUs;
		}
		&__visible {
			height: $cardHeightUs;
			transform: translateY(16vh);
		}
	}

	.white {
		.using-areas {
			&__title {
				color: $mainB;
			}
			&__pagination {
				&-prev {
					background-image: url("../images/balloon/use_arrow.svg");
				}
				&-next {
					background-image: url("../images/balloon/use_arrow.svg");
				}
				&-prev:hover {
					background-image: url("../images/show/use_arrow-enable.svg");
				}
				&-next:hover {
					background-image: url("../images/show/use_arrow-enable.svg");
				}
			}
		}
		.using-card {
			&__card {
			}
			&__text {
				color: #fff;
			}
			&__card:hover {
				color: #fff;
				.using-card__visible {
					background: $mainB;
				}
			}
		}
	}
}
