$cornWork: 40px;
$borderWidthWork: 2px;
$calculateWork: $cornWork + $borderWidthWork;

.work {
	position: relative;
	padding-bottom: 106px;
	&__title {
		max-width: 364px;
		padding-bottom: 30px;
	}
	&__navigation {
		&-prev,
		&-next {
			top: 3%;
			position: absolute;
			content: "";
			width: 115px;
			height: 82px;
			cursor: pointer;
			transition: $transition;
		}
		&-prev {
			right: 8%;
			background: url("../images/show/use_arrow.svg");
			transform: rotate(180deg);
		}
		&-next {
			right: 0%;
			background: url("../images/show/use_arrow.svg");
		}
		&-prev:hover {
			background: url("../images/show/use_arrow-enable.svg");
			transform: rotate(180deg);
		}
		&-next:hover {
			background: url("../images/show/use_arrow-enable.svg");
		}
	}

	&__container {
		font-size: 1.2vw;
		line-height: 1.2vw;
	}
	&__line {
		&-wrapper {
			position: absolute;
			top: 0;
			height: 250px;
			width: 200%;
			&:after {
				content: "";
				width: 200%;
				height: 20px;
				background: url("../images/show/work_slider_line.svg");
				background-repeat: repeat-x;
				background-size: 33.8%;
				position: absolute;
				bottom: 0;
			}
		}

		&-1 {
			position: absolute;
			top: 130px;
			width: 56.5vw;
			padding-bottom: 22px;
			&:after {
				content: "";
				width: 56.5vw;
				height: 6px;
				background: url("../images/show/work_slider_dashed1.svg");
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 0;
			}
		}
		&-2 {
			position: absolute;
			top: 70px;
			left: 12.25%;
			width: 65.5vw;
			padding-bottom: 22px;
			&:before {
				content: "";
				width: 1px;
				height: 120px;
				background: #fff;
				position: absolute;
				top: 46px;
				left: 0px;
				opacity: 0.5;
			}
			&:after {
				content: "";
				width: 65.5vw;
				height: 6px;
				background: url("../images/show/work_slider_dashed2.svg");
				background-repeat: no-repeat;
				background-size: 100%;
				position: absolute;
				bottom: 0;
			}
		}
		&-3 {
			position: absolute;
			top: 0;
			left: 29.5%;
			width: 80vw;
			padding-bottom: 22px;
			&:before {
				content: "";
				width: 1px;
				height: 190px;
				background: #fff;
				position: absolute;
				top: 46px;
				left: 0px;
				opacity: 0.5;
			}
			&:after {
				content: "";
				width: 80vw;
				height: 6px;
				background: url("../images/show/work_slider_dashed3.svg");
				background-repeat: repeat-x;
				background-size: 100%;
				position: absolute;
				bottom: 0;
			}
		}
	}
	&__wrapper {
		cursor: grab;
		height: 750px;
		display: flex;
		align-items: flex-end;
		align-content: flex-end;
	}
	&__slide {
		padding-left: 26px;
		padding-top: 50px;
		width: 15vw;
		height: 14vw;
		border: $borderWidthWork solid $main;
		background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
			linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 $cornWork, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 $cornWork, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 50.5% 50.5% !important;
		-webkit-mask-repeat: no-repeat !important;
		transition: all 0.5s ease;

		&-number {
			padding-bottom: 2vw;
			path {
				transition: $transition;
			}
		}
		&-text {
			max-width: 175px;
			transition: $transition;
			font-size: 1.2vw;
		}
		&:hover {
			background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $main;
			background-origin: border-box;
			background-repeat: no-repeat;
		}
	}
	&__slide:nth-child(2n) {
		margin-bottom: 158px;
	}
	.white {
		display: none;
	}
}

.white {
	.work {
		.white {
			display: block;
		}
		.dark {
			display: none;
		}
		&__dronico-img img {
			display: block;
		}
		&__slide:hover {
			.work__slide-text {
				color: #fff;
			}
			.work__slide-number {
				path {
					stroke: #fff;
				}
			}
		}
		&__line {
			&-wrapper {
				&:after {
					background: url("../images/show/work_slider_line-white.svg") repeat-x;
				}
			}
			&-1 {
				&:after {
					background: url("../images/show/work_slider_dashed1-white.svg") no-repeat;
				}
			}
			&-2 {
				&:before {
					background: #7a22ff;
				}
			}
			&-3 {
				&:before {
					background: #7a22ff;
				}
			}
		}
	}
}

.swiper-button-disabled {
	transition: $transition;
	opacity: 0.2;
	cursor: default;
}

.swiper-button-disabled.work__navigation-prev:hover {
	background: url("../images/show/use_arrow.svg");
}
.swiper-button-disabled.work__navigation-next:hover {
	background: url("../images/show/use_arrow.svg");
}

@media (min-width: 1950px) {
	.work {
		&__wrapper {
			height: 850px;
		}
		&__line {
			&-wrapper {
				&:after {
					background-size: 34%;
				}
			}

			&-1 {
				&:after {
					background-size: 67%;
				}
			}
			&-2 {
				left: 12.3%;
				&:after {
					background-size: 65.5%;
				}
			}
			&-3 {
				left: 29.65%;
				&:before {
					width: 1px;
					height: 190px;
					top: 46px;
					left: 0px;
				}
				&:after {
					background-size: 57.5%;
				}
			}
		}
	}
}

@media (max-width: 1650px) {
	.work {
		&__navigation {
			&-prev {
				right: 10%;
			}
		}

		&__slide {
			padding-top: 40px;
			&-number {
				padding-bottom: 2vw;
				svg {
					height: 50px;
				}
			}
			&-text {
				font-size: 1.2vw;
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.work {
		&__wrapper {
			height: 690px;
		}
		&__navigation {
			&-prev,
			&-next,
			.swiper-button-disabled.work__navigation-prev:hover,
			.swiper-button-disabled.work__navigation-next:hover,
			&-prev:hover,
			&-next:hover {
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		// &__line {
		// 	&-wrapper {
		// 		&:after {
		// 			background-size: 34%;
		// 		}
		// 	}
		// 	&-1 {
		// 		&:after {
		// 			background-size: 67%;
		// 		}
		// 	}
		// 	&-2 {
		// 		left: 12.3%;
		// 		&:after {
		// 			background-size: 65.5%;
		// 		}
		// 	}
		// 	&-3 {
		// 		left: 29.65%;
		// 		&:before {
		// 			width: 1px;
		// 			height: 190px;
		// 			top: 46px;
		// 			left: 0px;
		// 		}
		// 		&:after {
		// 			background-size: 57.5%;
		// 		}
		// 	}
		// }
	}
}
