$cornWork: 2.05vw;
$borderWidthWork: 3px;
$calculateWork: calc(2.05vw + 3px);

.work {
	position: relative;
	padding-bottom: 106px;
	&__mobile {
		display: none;
	}
	&__title {
		max-width: 364px;
		padding-bottom: 30px;
	}
	&__navigation {
		&-prev,
		&-next {
			top: 3%;
			position: absolute;
			content: "";
			width: 5.8vw;
			height: 4.2vw;
			cursor: pointer;
			transition: $transition;
			background-repeat: no-repeat;
			background-position: right;
		}
		&-prev {
			right: 8%;
			background-image: url("../images/show/use_arrow.svg");
			transform: rotate(180deg);
		}
		&-next {
			right: 0%;
			background-image: url("../images/show/use_arrow.svg");
		}
		&-prev:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
			transform: rotate(180deg);
		}
		&-next:hover {
			background-image: url("../images/show/use_arrow-enable.svg");
		}
	}

	&__container {
		font-size: 1.2vw;
		line-height: 1.2vw;
	}
	&__line {
		&-wrapper {
			position: absolute;
			top: 0;
			height: 250px;
			width: 200%;
			&:after {
				content: "";
				width: 200%;
				height: 20px;
				background: url("../images/show/work_slider_line.svg");
				background-repeat: repeat-x;
				background-size: 33.6%;
				position: absolute;
				bottom: 0;
			}
		}

		&-1 {
			position: absolute;
			top: 130px;
			width: 56.5vw;
			padding-bottom: 22px;
			&:after {
				content: "";
				width: 56.5vw;
				height: 6px;
				background: url("../images/show/work_slider_dashed1.svg");
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 0;
			}
		}
		&-2 {
			position: absolute;
			top: 70px;
			left: 12.25%;
			width: 65.5vw;
			padding-bottom: 22px;
			&:before {
				content: "";
				width: 1px;
				height: 120px;
				background: #fff;
				position: absolute;
				top: 46px;
				left: 0px;
				opacity: 0.5;
			}
			&:after {
				content: "";
				width: 65.5vw;
				height: 6px;
				background: url("../images/show/work_slider_dashed2.svg");
				background-repeat: no-repeat;
				background-size: 100%;
				position: absolute;
				bottom: 0;
			}
		}
		&-3 {
			position: absolute;
			top: 0;
			left: 29.5%;
			width: 100vw;
			padding-bottom: 22px;
			&:before {
				content: "";
				width: 1px;
				height: 190px;
				background: #fff;
				position: absolute;
				top: 46px;
				left: 0px;
				opacity: 0.5;
			}
			&:after {
				content: "";
				width: 100vw;
				height: 6px;
				background: url("../images/show/work_slider_dashed3.svg");
				background-repeat: repeat-x;
				background-size: 80%;
				position: absolute;
				bottom: 0;
			}
		}
	}
	&__wrapper {
		cursor: grab;
		height: 750px;
		display: flex;
		align-items: flex-end;
		align-content: flex-end;
	}
	&__slide {
		padding-left: 2vw;
		padding-top: 50px;
		width: 15vw;
		height: 14vw;
		border: $borderWidthWork solid $main;
		background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
			linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $alpha;
		background-origin: border-box;
		background-repeat: no-repeat;
		-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
			linear-gradient(-45deg, transparent 0 $cornWork, #fff 0) bottom right,
			linear-gradient(135deg, transparent 0 $cornWork, #fff 0) top left,
			linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
		-webkit-mask-size: 51% 51% !important;
		-webkit-mask-repeat: no-repeat !important;
		transition: all 0.5s ease;

		&-number {
			padding-bottom: 2vw;
			svg {
				height: 3.6vw;
				width: auto;
			}
			path {
				transition: $transition;
			}
		}
		&-text {
			max-width: 175px;
			transition: $transition;
			font-size: 1.2vw;
		}
		&:hover {
			background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $main;
			background-origin: border-box;
			background-repeat: no-repeat;
		}
	}
	&__slide:nth-child(2n) {
		margin-bottom: 158px;
	}
	.white {
		display: none;
	}
}

.swiper-button-disabled {
	transition: $transition;
	opacity: 0.2;
	cursor: default;
}

.swiper-button-disabled.work__navigation-prev:hover {
	background-image: url("../images/show/use_arrow.svg");
}
.swiper-button-disabled.work__navigation-next:hover {
	background-image: url("../images/show/use_arrow.svg");
}

.white {
	.work {
		.white {
			display: block;
			img {
				width: 96vw;
			}
		}
		.dark {
			display: none;
		}

		&__navigation {
			&-prev,
			&-next {
				top: 18%;
				background-repeat: no-repeat;
				background-position: left;
			}
			&-prev {
				background-image: url("../images/balloon/use_arrow.svg");
				transform: rotate(0);
			}
			&-next {
				background-image: url("../images/balloon/use_arrow.svg");
				transform: rotate(180deg);
			}
			&-prev:hover {
				background-image: url("../images/balloon/use_arrow_enable.svg");
			}
			&-next:hover {
				background-image: url("../images/balloon/use_arrow_enable.svg");
			}
		}

		&__dronico-img img {
			display: block;
		}
		&__slide:hover {
			.work__slide-text {
				color: #fff;
			}
			.work__slide-number {
				path {
					stroke: #fff;
				}
			}
		}
		&__line {
			&-wrapper {
				&:after {
					background: url("../images/show/work_slider_line-white.svg") repeat-x;
					background-size: 33.8%;
				}
			}
			&-1 {
				&:after {
					background: url("../images/show/work_slider_dashed1-white.svg") no-repeat;
					background-size: 100%;
				}
			}
			&-2 {
				&:after {
					background-size: 100%;
				}
				&:before {
					background: #7a22ff;
				}
			}
			&-3 {
				&:before {
					background: #7a22ff;
				}
			}
		}
	}
	.swiper-button-disabled.work__navigation-prev:hover {
		background-image: url("../images/balloon/use_arrow.svg");
	}
	.swiper-button-disabled.work__navigation-next:hover {
		background-image: url("../images/balloon/use_arrow.svg");
	}
}

@media (min-width: 1950px) {
	.work {
		&__title {
			max-width: 20vw;
		}

		&__wrapper {
			height: 850px;
		}
		&__line {
			&-1 {
				width: 57.5vw;
				&:after {
					width: 57.5vw;
				}
			}
			&-2 {
				width: 66vw;
				&:after {
					width: 66vw;
				}
			}
			&-3 {
				width: 100vw;
				&:after {
					width: 100vw;
					background-size: 80%;
				}
			}
		}
	}
}

@media (max-width: 1650px) {
	.work {
		&__navigation {
			&-prev {
				right: 10%;
			}
		}

		&__slide {
			padding-top: 40px;
			&-number {
				padding-bottom: 2vw;
			}
			&-text {
				font-size: 1.2vw;
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.work {
		&__wrapper {
			height: 690px;
		}
		&__navigation {
			&-prev,
			&-next,
			.swiper-button-disabled.work__navigation-prev:hover,
			.swiper-button-disabled.work__navigation-next:hover,
			&-prev:hover,
			&-next:hover {
				background-repeat: no-repeat;
				background-position: right;
			}
		}
		&__slide {
			padding-left: 20px;
			padding-top: 30px;
		}
	}
	.white {
		.work {
			&__navigation {
				&-prev,
				&-next,
				.swiper-button-disabled.work__navigation-prev:hover,
				.swiper-button-disabled.work__navigation-next:hover,
				&-prev:hover,
				&-next:hover {
					top: 15%;
					background-repeat: no-repeat;
					background-position: left;
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.work {
		&__navigation {
			&-prev,
			&-next {
				width: 7vw;
				height: 5.6vw;
			}
		}
	}
}

@media (max-width: 1250px) {
	.work {
		&__title {
			max-width: 60vw;
			padding-bottom: 30px;
		}

		&__slide {
			padding-left: 16px;
			padding-top: 25px;

			&-number {
				path {
					transition: $transition;
				}
			}
			&-text {
				max-width: 175px;
				transition: $transition;
				font-size: 1.2vw;
			}
			&:hover {
				background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
					linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $main;
				background-origin: border-box;
				background-repeat: no-repeat;
			}
		}
		.white {
			display: none;
		}
	}
}

@media (max-width: 1025px) {
	$cornWork: 4.05vw;
	$borderWidthWork: 2px;
	$calculateWork: calc(4.05vw + 2px);

	.work {
		&__mobile {
			display: block;
			&-container {
				display: flex;
			}
			&-image {
				width: 30vw;
				background: url("../images/show/work_slider_timeline.svg") no-repeat;
				background-size: contain;
			}
		}

		&__slide {
			padding-left: 3vw;
			padding-top: 50px;
			width: 25vw;
			height: 24vw;
			border: $borderWidthWork solid $main;
			background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornWork, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornWork, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 50.5% 50.5% !important;
			-webkit-mask-repeat: no-repeat !important;
			transition: all 0.5s ease;

			&-number {
				padding-bottom: 4vw;
				svg {
					height: 6vw;
					width: auto;
				}
			}
			&-text {
				max-width: 175px;
				transition: $transition;
				font-size: 2vw;
			}
			&:hover {
				background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
					linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $main;
				background-origin: border-box;
				background-repeat: no-repeat;
			}
		}

		&__slide:nth-child(2n) {
			margin-bottom: -10%;
			margin-top: -20%;
			margin-left: 120%;
		}

		&__navigation {
			display: none;
		}
		&__container {
			display: none;
		}
	}

	.white {
		.work {
			.white {
				img {
					display: none;
				}
			}
			&__mobile {
				&-image {
					background: url("../images/balloon/work_slider_timeline.svg") no-repeat;
					background-size: contain;
				}
			}
		}
	}
}

@media (max-width: 550px) {
	$cornWork: 8.05vw;
	$borderWidthWork: 2px;
	$calculateWork: calc(8.05vw + 2px);

	.work {
		&__mobile {
			&-image {
				width: 40%;
				background: url("../images/show/work_slider_mobileTimeline.svg") no-repeat;
				background-size: contain;
			}
		}

		&__slide {
			margin-left: 7vw;
			margin-bottom: 12vw;
			padding-left: 5vw;
			padding-top: 8vw;
			width: 45vw;
			height: 44vw;
			border: $borderWidthWork solid $main;
			background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
				linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $alpha;
			background-origin: border-box;
			background-repeat: no-repeat;
			-webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
				linear-gradient(-45deg, transparent 0 $cornWork, #fff 0) bottom right,
				linear-gradient(135deg, transparent 0 $cornWork, #fff 0) top left,
				linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
			-webkit-mask-size: 50.5% 50.5% !important;
			-webkit-mask-repeat: no-repeat !important;
			transition: all 0.5s ease;

			&-number {
				padding-bottom: 10vw;
				svg {
					height: 10vw;
					width: auto;
				}
			}
			&-text {
				max-width: 35vw;
				transition: $transition;
				font-size: 2.7vw;
			}
			&:hover {
				background: linear-gradient(-45deg, $main 0 $calculateWork, transparent 0) bottom right/50% 50%,
					linear-gradient(135deg, $main 0 $calculateWork, transparent 0) top left / 50% 50%, $main;
				background-origin: border-box;
				background-repeat: no-repeat;
			}
		}

		&__slide:nth-child(2n) {
			margin-left: 7vw;
			margin-bottom: 12vw;
			margin-top: 0;
		}
	}

	.white {
		.work {
			&__mobile {
				&-image {
					background: url("../images/balloon/work_slider_mobileTimeline.svg") no-repeat;
					background-size: contain;
				}
			}
		}
	}
}

@media (max-width: 375px) {
	.work {
		&__mobile {
			&-image {
				background-size: cover;
			}
		}
	}
	.white {
		.work {
			&__mobile {
				&-image {
					background-size: cover;
				}
			}
		}
	}
}
