section.dolphins
	.dolphins__text.title
		span ВСЕ НАШИ ДИРИЖАБЛИ оборудованны полётными контроллерами
		| ,	которые дают максимальную стабилизацию летательных аппаратов
	div(class="rellax dolphins__big")
		img(src="images/balloon/dolphin_big.png", alt="dolphin_big" data-depth="0.2")
	div(class="rellax dolphins__medium" data-invert-x="false" data-invert-y="false")
		img(src="images/balloon/dolphin_medium.png", alt="dolphin_medium" data-depth="0.2")
	div(class="rellax dolphins__small" data-invert-y="false")
		img(src="images/balloon/dolphin_small.png", alt="dolphin_small" data-depth="0.2")