section.dolphins
	.dolphins__text.title
		span ВСЕ НАШИ ДИРИЖАБЛИ оборудованны полётными контроллерами
		| ,	которые дают максимальную стабилизацию летательных аппаратов
	.dolphins__big
		img(src="images/balloon/dolphin_big.png", alt="dolphin_big")
	.dolphins__medium
		img(src="images/balloon/dolphin_medium.png", alt="dolphin_medium")
	.dolphins__small
		img(src="images/balloon/dolphin_small.png", alt="dolphin_small")