include ../mixins/_dronicoSlider.pug
//- 1
-
	const sliderText1 = [
		'Полётный ковёр — 5х5 метров. Расстояние между соседними беспилотниками во время полёта — 2 м.',
		'На улице или на сцене дроны синхронихируются с музыкой и светом, создавая завораживающий эффект танца.',
		'Дроны легки в обращении, безопасны и их удобно перевозить в специальном компактном чемоданчике.'
	];
-const sliderTitle1 = 'Несложные световые шоу';
-const sliderSubtext1 = 'Небольшие, но удивительные представления в помещении, или на улице.';
-
	const dronicoList1 = [
		{img: 'circles1', alt: 'circles1', title: 'ОТ 16 ДО 200 БЕСПИЛОТНИКОВ', text: sliderText1[0]},
		{img: 'circles2', alt: 'circles2', title: 'ЭФФЕКТ ТАНЦА РОЯ ДРОНОВ', text: sliderText1[1]},
		{img: 'circles3', alt: 'circles3', title: 'ПРОСТЫ В ИСПОЛЬЗОВАНИИ', text: sliderText1[2]},
	];

//- 2
-
	const sliderText2 = [
		'До 50 дронов в состоянии устроить незабываемое шоу в помещении размером от 30х30х10 м',
		'Построения 3д логотипов, слов или изображений, синхронизированных со светом и музыкой',
		'Наши системы являются №1 в мире для световых шоу беспилотников в помещениях'
	];
-const sliderTitle2 = 'Световые шоу в помещениях';
-const sliderSubtext2 = 'Шоу дронов в сочетании с выступлениями артистов, лазерным и световым шоу, вызовет сильный WOW эффект, способный повлиять на впечатление от всего мероприятия.';
-
	const dronicoList2 = [
		{img: 'circles1', alt: 'circles1', title: 'ОТ 8 ДО 50 БЕСПИЛОТНИКОВ', text: sliderText2[0]},
		{img: 'circles2', alt: 'circles2', title: 'ЭФФЕКТНЫЕ ПРЕДСТАВЛЕНИЯ', text: sliderText2[1]},
		{img: 'circles3', alt: 'circles3', title: 'ЭКСКЛЮЗИВНО И НЕПОВТОРИМО', text: sliderText2[2]},
	];

//- 3
-
	const sliderText3 = [
		'Высокая точность и элегантное моделирование, формирования ЛИ могут двигаться 360 ° с полным углом обзора.',
		'Высокая точность и элегантное моделирование, формирования ЛИ могут двигаться 360 ° с полным углом обзора.',
		'Высокая точность и элегантное моделирование, формирования ЛИ могут двигаться 360 ° с полным углом обзора.'
	];
-const sliderTitle3 = 'Световые шоу на улице';
-const sliderSubtext3 = 'Великолепный спектакль в ночном небе, от 50 до 1700 дронов одновременно, получает широкое освещение в СМИ, вызывает сильный импульс у зрителей.';
-
	const dronicoList3 = [
		{img: 'circles1', alt: 'circles1', title: 'ИНДИВИДУАЛЬНАЯ 3D-ПРОГРАММА', text: sliderText3[0]},
		{img: 'circles2', alt: 'circles2', title: 'БЕЗОПАСНО, ЭФФЕКТНО И КРАСИВО', text: sliderText3[1]},
		{img: 'circles3', alt: 'circles3', title: 'ЭКСКЛЮЗИВНО И НЕПОВТОРИМО', text: sliderText3[2]},
	];

//- 4
-
	const sliderText4 = [
		'Десять тысяч цветовых и анимационных комбинаций высоколюминисцентного света захватывают дыхание зрителей.',
		'Кроме того, что зрители могут наблюдать красочное шоу, они также могут непосредственно участвовать в нём',
		'Высокая точность и элегантное моделирование, формирования ЛИ могут двигаться 360 ° с полным углом обзора.'
	];
-const sliderTitle4 = 'Высоколюминисцентные световые шоу';
-const sliderSubtext4 = 'Полноцветное и высоко люминесцентное светодиодное шоу дронов создаст эффект прекрасного звездного неба.';
-
	const dronicoList4 = [
		{img: 'circles1', alt: 'circles1', title: 'ВПЕЧАТЛЯЮЩИЙ ЭФФЕКТ', text: sliderText4[0]},
		{img: 'circles2', alt: 'circles2', title: 'ВЗАИМОДЕЙСТВИЕ СО ЗРИТЕЛЯМИ', text: sliderText4[1]},
		{img: 'circles3', alt: 'circles3', title: 'ПРОСТАЯ НАСТРОЙКА', text: sliderText4[2]},
	];

//- 5
-
	const sliderText5 = [
		'Разрабатывается индивидуальный танцевальный номер людей и дронов специально для вашего мероприятия',
		'У нас в распоряжении дроны разных размеров и внешнего вида, которые гибко настраиваются для сцены с любыми возможностями',
		'Иы используем систему RTK, которая позволяет контролировать положение всех дронов с точностью до 1 см'
	];
-const sliderTitle5 = 'Танцевальное шоу дронов и людей';
-const sliderSubtext5 = 'Индивидуальная постановка номеров артистов и беспилотников, разных размеров и разной внешности.';
-
	const dronicoList5 = [
		{img: 'circles1', alt: 'circles1', title: 'ИНДИВИДУАЛЬНЫЙ НОМЕР', text: sliderText5[0]},
		{img: 'circles2', alt: 'circles2', title: 'РАЗНЫЕ ВИДЫ ДРОНОВ', text: sliderText5[1]},
		{img: 'circles3', alt: 'circles3', title: 'ГАРАНТИЯ БЕЗОПАСНОСТИ', text: sliderText5[2]},
	];

-const imgPath1 = 'M82.9407 1C59.3662 1 39.784 8.27093 24.157 22.7949C8.73105 37.119 1 56.5004 1 80.9977C1 105.494 8.73018 124.968 24.1569 139.478C39.7834 153.816 59.3656 160.995 82.9407 160.995C106.516 160.995 126.004 153.816 141.445 139.48C156.873 124.97 164.604 105.495 164.604 80.9977C164.604 56.5004 156.873 37.1191 141.447 22.7951L141.445 22.7929C126.004 8.27089 106.515 1 82.9407 1ZM23.4762 22.0624C39.3079 7.34819 59.1419 0 82.9407 0C106.739 0 126.481 7.34769 142.128 22.0628C157.791 36.6069 165.604 56.2714 165.604 80.9977C165.604 105.724 157.79 125.48 142.13 140.208L142.127 140.211C126.48 154.741 106.738 161.995 82.9407 161.995C59.1437 161.995 39.3105 154.741 23.4785 140.213L23.474 140.208C7.81346 125.48 0 105.724 0 80.9977C0 56.2712 7.81343 36.6065 23.4762 22.0624ZM189.785 3.60852H248.244V158.109H219.209V29.8681H189.785V3.60852ZM190.785 4.60852V28.8681H220.209V157.109H247.244V4.60852H190.785ZM42.6126 39.5659C52.533 29.4583 65.9959 24.4269 82.9407 24.4269C99.8833 24.4269 113.255 29.4571 122.991 39.566C132.914 49.4907 137.846 63.3244 137.846 80.9977C137.846 98.6734 132.913 112.598 122.991 122.707C113.254 132.631 99.8824 137.568 82.9407 137.568C65.9986 137.568 52.5369 132.631 42.6159 122.71L42.6093 122.704C32.8746 112.595 28.0354 98.6708 28.0354 80.9977C28.0354 63.325 32.8745 49.4912 42.6126 39.5659ZM43.3264 40.2663C33.8191 49.9564 29.0354 63.5104 29.0354 80.9977C29.0354 98.4824 33.8178 112.13 43.3264 122.007C53.0206 131.699 66.2053 136.568 82.9407 136.568C99.6785 136.568 112.769 131.698 122.277 122.007C131.971 112.13 136.846 98.4818 136.846 80.9977C136.846 63.513 131.971 49.9602 122.281 40.2696L122.274 40.2629C112.765 30.3884 99.6757 25.4269 82.9407 25.4269C66.206 25.4269 53.0214 30.3883 43.3264 40.2663Z';
-const imgPath2 = 'M83.7112 1.39087C60.1367 1.39087 40.5545 8.6618 24.9275 23.1858C9.50156 37.5098 1.77051 56.8913 1.77051 81.3885C1.77051 105.885 9.50069 125.359 24.9274 139.869C40.5539 154.207 60.1361 161.386 83.7112 161.386C107.286 161.386 126.775 154.207 142.215 139.871C157.643 125.361 165.374 105.886 165.374 81.3885C165.374 56.8913 157.643 37.51 142.218 23.1859L142.215 23.1838C126.774 8.66176 107.286 1.39087 83.7112 1.39087ZM24.2467 22.4533C40.0785 7.73906 59.9124 0.390869 83.7112 0.390869C107.509 0.390869 127.251 7.73856 142.899 22.4537C158.561 36.9977 166.374 56.6622 166.374 81.3885C166.374 106.115 158.561 125.871 142.9 140.599L142.898 140.601C127.25 155.132 107.508 162.386 83.7112 162.386C59.9142 162.386 40.0811 155.132 24.249 140.603L24.2445 140.599C8.58397 125.871 0.770508 106.115 0.770508 81.3885C0.770508 56.662 8.58394 36.9974 24.2467 22.4533ZM203.764 29.2157L220.03 46.5474C235.385 32.8099 252.776 25.9281 272.185 25.9281C286.377 25.9281 297.105 28.1282 304.3 32.5958C311.535 37.0879 315.154 43.8466 315.154 52.798C315.154 62.6454 309.833 70.563 299.358 76.5487L206.899 129.699V157.5H338.026V133.24H246.116L313.855 95.3861C332.613 84.9038 341.912 70.8948 341.912 53.3531C341.912 36.0963 335.681 23.2161 323.252 14.6259L323.245 14.6211C310.959 5.81876 294.325 1.39087 273.295 1.39087C245.647 1.39087 222.481 10.6667 203.764 29.2157ZM202.714 28.8503C221.688 9.87643 245.226 0.390869 273.295 0.390869C294.455 0.390869 311.315 4.84483 323.825 13.8062C336.561 22.6109 342.912 35.822 342.912 53.3531C342.912 71.3414 333.336 85.6454 314.343 96.2591L249.955 132.24H339.026V158.5H205.899V129.12L298.86 75.6811L298.862 75.6804C309.113 69.8227 314.154 62.1959 314.154 52.798C314.154 44.1694 310.695 37.7432 303.773 33.4453C296.812 29.123 286.306 26.9281 272.185 26.9281C252.887 26.9281 235.609 33.8156 220.335 47.6174L219.971 47.9464L202.372 29.1928L202.714 28.8503ZM43.3831 39.9567C53.3035 29.8491 66.7664 24.8177 83.7112 24.8177C100.654 24.8177 114.026 29.848 123.762 39.9569C133.685 49.8816 138.617 63.7153 138.617 81.3885C138.617 99.0643 133.683 112.989 123.762 123.098C114.025 133.022 100.653 137.959 83.7112 137.959C66.7691 137.959 53.3074 133.022 43.3864 123.101L43.3798 123.094C33.6451 112.985 28.8059 99.0617 28.8059 81.3885C28.8059 63.7159 33.645 49.8821 43.3831 39.9567ZM44.0969 40.6571C34.5896 50.3473 29.8059 63.9013 29.8059 81.3885C29.8059 98.8733 34.5883 112.521 44.0969 122.398C53.7912 132.09 66.9758 136.959 83.7112 136.959C100.449 136.959 113.54 132.089 123.048 122.397C132.742 112.521 137.617 98.8727 137.617 81.3885C137.617 63.9039 132.742 50.3511 123.051 40.6605L123.045 40.6538C113.536 30.7792 100.446 25.8177 83.7112 25.8177C66.9766 25.8177 53.792 30.7792 44.0969 40.6571Z';
-const imgPath3 = 'M83.7112 1.39087C60.1367 1.39087 40.5545 8.6618 24.9275 23.1858C9.50156 37.5098 1.77051 56.8913 1.77051 81.3885C1.77051 105.885 9.50069 125.359 24.9274 139.869C40.5539 154.207 60.1361 161.386 83.7112 161.386C107.286 161.386 126.775 154.207 142.215 139.871C157.643 125.361 165.374 105.886 165.374 81.3885C165.374 56.8913 157.643 37.51 142.218 23.1859L142.215 23.1838C126.774 8.66176 107.286 1.39087 83.7112 1.39087ZM24.2467 22.4533C40.0785 7.73906 59.9124 0.390869 83.7112 0.390869C107.509 0.390869 127.251 7.73856 142.899 22.4537C158.561 36.9977 166.374 56.6622 166.374 81.3885C166.374 106.115 158.561 125.871 142.9 140.599L142.898 140.601C127.25 155.132 107.508 162.386 83.7112 162.386C59.9142 162.386 40.0811 155.132 24.249 140.603L24.2445 140.599C8.58397 125.871 0.770508 106.115 0.770508 81.3885C0.770508 56.662 8.58394 36.9974 24.2467 22.4533ZM265.169 1.39087C252.627 1.39087 241.297 2.95869 231.175 6.08741L231.167 6.0898C221.175 8.99657 210.807 14.1517 200.064 21.5684L212.3 40.7207C228.19 30.3034 245.91 25.0953 265.447 25.0953C280.446 25.0953 291.282 26.7577 297.872 30.1458C301.267 31.8439 303.841 34.0511 305.563 36.7784C307.287 39.5072 308.139 42.7258 308.139 46.4137C308.139 51.7807 306.629 55.893 303.53 58.6535C300.441 61.4042 295.859 62.7356 289.874 62.7356H238.189V85.8849H291.262C300.199 85.8849 306.995 87.6982 311.562 91.4096C316.15 95.1372 318.409 100.711 318.409 108.036C318.409 112.925 317.303 117.227 315.076 120.924C312.849 124.62 309.517 127.684 305.105 130.125C296.297 134.997 283.149 137.404 265.724 137.404C253.475 137.404 242.874 136.012 233.931 133.218L233.919 133.214C225.291 130.277 215.774 125.534 205.369 118.996L192.284 139.826C212.281 154.194 236.106 161.386 263.781 161.386C292.054 161.386 312.645 156.301 325.653 146.224L325.655 146.222C338.87 136.127 345.444 123.592 345.444 108.591C345.444 99.4145 343.357 91.8645 339.219 85.9069C335.082 79.9509 328.864 75.5429 320.524 72.7017L319.466 72.3415L320.439 71.7929C330.46 66.1446 335.452 57.6134 335.452 46.1361C335.452 31.6894 329.341 20.6537 317.088 12.9728L317.08 12.9672C305.354 5.27221 288.073 1.39087 265.169 1.39087ZM230.883 5.13077C241.116 1.96852 252.546 0.390869 265.169 0.390869C288.156 0.390869 305.663 4.28077 317.624 12.1283C330.165 19.9917 336.452 31.3463 336.452 46.1361C336.452 57.6101 331.58 66.2893 321.872 72.1163C329.863 75.0208 335.932 79.4219 340.04 85.3363C344.322 91.4996 346.444 99.2626 346.444 108.591C346.444 123.938 339.696 136.754 326.264 147.015C326.264 147.016 326.263 147.016 326.262 147.017L325.959 146.619L326.265 147.015C326.265 147.015 326.264 147.015 326.264 147.015C312.995 157.294 292.134 162.386 263.781 162.386C235.746 162.386 211.584 155.051 191.318 140.362L190.939 140.088L205.056 117.616L205.479 117.884C216.003 124.53 225.588 129.32 234.236 132.265C234.234 132.265 234.232 132.264 234.23 132.263L234.08 132.74L234.242 132.267C234.24 132.267 234.238 132.266 234.236 132.265C243.056 135.021 253.55 136.404 265.724 136.404C283.09 136.404 296.034 134 304.621 129.25C308.907 126.879 312.098 123.929 314.219 120.408C316.34 116.888 317.409 112.77 317.409 108.036C317.409 100.927 315.227 95.6753 310.932 92.1858C306.617 88.6801 300.089 86.8849 291.262 86.8849H237.189V61.7356H289.874C295.732 61.7356 300.032 60.4301 302.865 57.9068C305.687 55.3933 307.139 51.5946 307.139 46.4137C307.139 42.8845 306.325 39.8576 304.718 37.3124C303.11 34.7663 300.688 32.6716 297.422 31.0389L297.417 31.0364C291.053 27.7635 280.424 26.0953 265.447 26.0953C245.927 26.0953 228.258 31.3419 212.428 41.834L212.004 42.115L198.703 21.2955L199.098 21.0211C210.048 13.4115 220.644 8.11022 230.883 5.13077ZM230.883 5.13077C230.882 5.13118 230.881 5.13159 230.879 5.132L231.027 5.6097L230.887 5.1296C230.886 5.12999 230.885 5.13039 230.883 5.13077ZM43.3831 39.9567C53.3035 29.8491 66.7664 24.8177 83.7112 24.8177C100.654 24.8177 114.026 29.848 123.762 39.9569C133.685 49.8816 138.617 63.7153 138.617 81.3885C138.617 99.0643 133.683 112.989 123.762 123.098C114.025 133.022 100.653 137.959 83.7112 137.959C66.7691 137.959 53.3074 133.022 43.3864 123.101L43.3798 123.094C33.6451 112.985 28.8059 99.0617 28.8059 81.3885C28.8059 63.7159 33.645 49.8821 43.3831 39.9567ZM44.0969 40.6571C34.5896 50.3473 29.8059 63.9013 29.8059 81.3885C29.8059 98.8733 34.5883 112.521 44.0969 122.398C53.7912 132.09 66.9758 136.959 83.7112 136.959C100.449 136.959 113.54 132.089 123.048 122.397C132.742 112.521 137.617 98.8727 137.617 81.3885C137.617 63.9039 132.742 50.3511 123.051 40.6605L123.045 40.6538C113.536 30.7792 100.446 25.8177 83.7112 25.8177C66.9766 25.8177 53.792 30.7792 44.0969 40.6571Z';
-const imgPath4 = 'M83.7112 1.39087C60.1367 1.39087 40.5545 8.6618 24.9275 23.1858C9.50156 37.5098 1.77051 56.8913 1.77051 81.3885C1.77051 105.885 9.50069 125.359 24.9274 139.869C40.5539 154.207 60.1361 161.386 83.7112 161.386C107.286 161.386 126.775 154.207 142.215 139.871C157.643 125.361 165.374 105.886 165.374 81.3885C165.374 56.8913 157.643 37.51 142.218 23.1859L142.215 23.1838C126.774 8.66176 107.286 1.39087 83.7112 1.39087ZM24.2467 22.4533C40.0785 7.73906 59.9124 0.390869 83.7112 0.390869C107.509 0.390869 127.251 7.73856 142.899 22.4537C158.561 36.9977 166.374 56.6622 166.374 81.3885C166.374 106.115 158.561 125.871 142.9 140.599L142.898 140.601C127.25 155.132 107.508 162.386 83.7112 162.386C59.9142 162.386 40.0811 155.132 24.249 140.603L24.2445 140.599C8.58397 125.871 0.770508 106.115 0.770508 81.3885C0.770508 56.662 8.58394 36.9974 24.2467 22.4533ZM289.165 3.99939H341.524V107.536H358.456V133.24H341.524V158.5H312.766V133.24H200.069V107.295L289.165 3.99939ZM289.623 4.99939L201.069 107.667V132.24H313.766V157.5H340.524V132.24H357.456V108.536H340.524V4.99939H289.623ZM43.3831 39.9567C53.3035 29.8491 66.7664 24.8177 83.7112 24.8177C100.654 24.8177 114.026 29.848 123.762 39.9569C133.685 49.8816 138.617 63.7153 138.617 81.3885C138.617 99.0643 133.683 112.989 123.762 123.098C114.025 133.022 100.653 137.959 83.7112 137.959C66.7691 137.959 53.3074 133.022 43.3864 123.101L43.3798 123.094C33.6451 112.985 28.8059 99.0617 28.8059 81.3885C28.8059 63.7159 33.645 49.8821 43.3831 39.9567ZM44.0969 40.6571C34.5896 50.3473 29.8059 63.9013 29.8059 81.3885C29.8059 98.8733 34.5883 112.521 44.0969 122.398C53.7912 132.09 66.9758 136.959 83.7112 136.959C100.449 136.959 113.54 132.089 123.048 122.397C132.742 112.521 137.617 98.8727 137.617 81.3885C137.617 63.9039 132.742 50.3511 123.051 40.6605L123.045 40.6538C113.536 30.7792 100.446 25.8177 83.7112 25.8177C66.9766 25.8177 53.792 30.7792 44.0969 40.6571ZM300.264 29.259H313.766V108.536H233.919L300.264 29.259ZM300.731 30.259L236.06 107.536H312.766V30.259H300.731Z';
-const imgPath5 = 'M83.7112 1.39087C60.1367 1.39087 40.5545 8.6618 24.9275 23.1858C9.50156 37.5098 1.77051 56.8913 1.77051 81.3885C1.77051 105.885 9.50069 125.359 24.9274 139.869C40.5539 154.207 60.1361 161.386 83.7112 161.386C107.286 161.386 126.775 154.207 142.215 139.871C157.643 125.361 165.374 105.886 165.374 81.3885C165.374 56.8913 157.643 37.51 142.218 23.1859L142.215 23.1838C126.774 8.66176 107.286 1.39087 83.7112 1.39087ZM24.2467 22.4533C40.0785 7.73906 59.9124 0.390869 83.7112 0.390869C107.509 0.390869 127.251 7.73856 142.899 22.4537C158.561 36.9977 166.374 56.6622 166.374 81.3885C166.374 106.115 158.561 125.871 142.9 140.599L142.898 140.601C127.25 155.132 107.508 162.386 83.7112 162.386C59.9142 162.386 40.0811 155.132 24.249 140.603L24.2445 140.599C8.58397 125.871 0.770508 106.115 0.770508 81.3885C0.770508 56.662 8.58394 36.9974 24.2467 22.4533ZM216.749 3.99939H338.193V30.259H243.784L241.646 62.3329C253.948 57.8596 268.202 55.6289 284.398 55.6289C304.822 55.6289 320.859 60.1773 332.449 69.3363C344.058 78.3247 349.851 90.9693 349.851 107.203C349.851 125.485 342.937 139.253 329.087 148.424C315.283 157.565 296.577 162.109 273.017 162.109C244.067 162.109 219.171 155.241 198.351 141.485L197.959 141.226L211.212 118.176L211.647 118.43C222.725 124.892 232.863 129.405 242.063 131.981C251.259 134.556 262.499 135.849 275.793 135.849C291.114 135.849 302.37 133.261 309.648 128.168C317.109 122.89 320.816 115.914 320.816 107.203C320.816 98.4813 317.333 91.9857 310.365 87.642C303.357 83.2738 292.782 81.0558 278.569 81.0558C264.017 81.0558 250.02 83.9105 236.572 89.6209L236.462 89.668L212.537 87.9591L216.749 3.99939ZM217.7 4.99939L213.584 87.0314L236.293 88.6534C249.829 82.922 263.922 80.0558 278.569 80.0558C292.854 80.0558 303.652 82.2791 310.894 86.7934C318.175 91.3321 321.816 98.1603 321.816 107.203C321.816 116.257 317.936 123.53 310.224 128.985L310.222 128.986C302.695 134.255 291.191 136.849 275.793 136.849C262.44 136.849 251.103 135.551 241.794 132.944C232.61 130.373 222.538 125.903 211.578 119.546L199.295 140.909C219.847 154.368 244.413 161.109 273.017 161.109C296.461 161.109 314.951 156.585 328.534 147.59C342.072 138.626 348.851 125.191 348.851 107.203C348.851 91.2391 343.172 78.9021 331.835 70.1256L331.831 70.1225C320.475 61.1476 304.685 56.6289 284.398 56.6289C267.974 56.6289 253.601 58.9358 241.271 63.5368L240.545 63.8074L242.849 29.259H337.193V4.99939H217.7ZM43.3831 39.9567C53.3035 29.8491 66.7664 24.8177 83.7112 24.8177C100.654 24.8177 114.026 29.848 123.762 39.9569C133.685 49.8816 138.617 63.7153 138.617 81.3885C138.617 99.0643 133.683 112.989 123.762 123.098C114.025 133.022 100.653 137.959 83.7112 137.959C66.7691 137.959 53.3074 133.022 43.3864 123.101L43.3798 123.094C33.6451 112.985 28.8059 99.0617 28.8059 81.3885C28.8059 63.7159 33.645 49.8821 43.3831 39.9567ZM44.0969 40.6571C34.5896 50.3473 29.8059 63.9013 29.8059 81.3885C29.8059 98.8733 34.5883 112.521 44.0969 122.398C53.7912 132.09 66.9758 136.959 83.7112 136.959C100.449 136.959 113.54 132.089 123.048 122.397C132.742 112.521 137.617 98.8727 137.617 81.3885C137.617 63.9039 132.742 50.3511 123.051 40.6605L123.045 40.6538C113.536 30.7792 100.446 25.8177 83.7112 25.8177C66.9766 25.8177 53.792 30.7792 44.0969 40.6571Z';

section.dronico-slider
	.dronico-slider__img-container.swiper-container
		.dronico-slider__img-wrapper.swiper-wrapper
			+dronicoImgSlide('1','507033606','01')
			+dronicoImgSlide('2','507035369','02')
			+dronicoImgSlide('3','507036705','03')
			+dronicoImgSlide('4','507033606','04')
			+dronicoImgSlide('5','507029689','05')
	.dronico-slider__container.swiper-container
		.dronico-slider__wrapper.swiper-wrapper
			+dronicoSlide( sliderTitle1, sliderSubtext1, dronicoList1)
			+dronicoSlide( sliderTitle2, sliderSubtext2, dronicoList2)
			+dronicoSlide( sliderTitle3, sliderSubtext3, dronicoList3)
			+dronicoSlide( sliderTitle4, sliderSubtext4, dronicoList4)
			+dronicoSlide( sliderTitle5, sliderSubtext5, dronicoList5)
	.dronico-slider__imgNum-container.swiper-container
		.dronico-slider__imgNum-wrapper.swiper-wrapper
			+dronicoImgNumSlider(imgPath1, 162, 249)
			+dronicoImgNumSlider(imgPath2, 163, 343)
			+dronicoImgNumSlider(imgPath3, 163, 349)
			+dronicoImgNumSlider(imgPath4, 163, 360)
			+dronicoImgNumSlider(imgPath5, 163, 350)
	.dronico-slider__pagination
		.dronico-slider__pagination-prev
		.dronico-slider__pagination-next

	.dronico-slider__mobile
		.dronico-slider__static
			+dronicoStaticMobile('01',imgPath1, 162, 249, sliderTitle1, sliderSubtext1, dronicoList1)
			+dronicoStaticMobile('02',imgPath2, 163, 343, sliderTitle2, sliderSubtext2, dronicoList2)
			+dronicoStaticMobile('03',imgPath3, 162, 349, sliderTitle3, sliderSubtext3, dronicoList3)
			+dronicoStaticMobile('04',imgPath4, 162, 360, sliderTitle4, sliderSubtext4, dronicoList4)
			+dronicoStaticMobile('05',imgPath5, 162, 350, sliderTitle5, sliderSubtext5, dronicoList5)
