section.dronico-slider
  .dronico-slider__container
    .dronico-slider__img
      img(src='images/show/dancing_photo.png', alt='dancing_photo')
    .dronico-slider__content
      .dronico-slider__title.title-dark
        | Танцевальные шоу дронов и людей
      .dronico-slider__subtitle.title-dark
        | Индивидуальная постановка номеров артистов и беспилотников, разных размеров и разной внешности
      .dronico-slider__types.types
        .types__card
          .types__icon
            img(src='images/show/dancing_circles1.svg', alt='dancing_circles-four')
          .types__title.title-dark
            | Индивидуальный номер
          .types__text
            | Разрабатывается индивидуальный танцевальный номер людей и дронов специально для вашего мероприятия.
        .types__card
          .types__icon
            img(src='images/show/dancing_circles2.svg', alt='dancing_circles-three')
          .types__title.title-dark РАЗНЫЕ ВИДЫ ДРОНОВ
          .types__text
            | У нас в распоряжении дроны разных размеров и внешнего вида, которые гибко настраиваются для сцены с любыми возможностями.
        .types__card
          .types__icon
            img(src='images/show/dancing_circles3.svg', alt='dancing_circles-some')
          .types__title.title-dark ГАРАНТИЯ БЕЗОПАСНОСТИ
          .types__text
            | Мы используем систему RTK, которая позволяет контролировать положение всех дронов с точностью до 1 см.
    .dronico-slider__pagination
      .dronico-slider__arrow-left
      .dronico-slider__arrow-right