footer.footer
	nav.header__nav.footer__nav
		ul.header__menu.footer__menu
			li.header__show.footer__show
				a(class="dark-anchr" href='index.html') СВЕТОВОЕ шоу
			li.header__aero.footer__aero
				a(class="white-anchr" href='balloon.html') Радиоуправляемые аэростаты
	.footer__container
		.footer__rights (c) 2019 г. Все права защищены
		ul.footer__social-icons
			li
				a(href="#")
					svg(width="38" height="22" viewBox="0 0 38 22" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M21.1743 21.4013C21.1743 21.4013 21.8232 21.3305 22.1556 20.9801C22.4598 20.659 22.4493 20.0531 22.4493 20.0531C22.4493 20.0531 22.4088 17.2237 23.7472 16.8059C25.0662 16.3951 26.7597 19.5421 28.5571 20.7522C29.9148 21.6671 30.9453 21.4669 30.9453 21.4669L35.7482 21.4013C35.7482 21.4013 38.2596 21.2494 37.069 19.3108C36.9705 19.1519 36.3743 17.8762 33.4989 15.2557C30.4863 12.5126 30.8908 12.9563 34.5171 8.21074C36.726 5.32094 37.6089 3.55667 37.3327 2.80228C37.0707 2.0807 35.4457 2.27231 35.4457 2.27231L30.0396 2.30511C30.0396 2.30511 29.6386 2.2516 29.3414 2.42595C29.0513 2.59686 28.8631 2.99563 28.8631 2.99563C28.8631 2.99563 28.0084 5.23117 26.867 7.13354C24.4594 11.1454 23.4974 11.3578 23.1035 11.1092C22.1872 10.5274 22.4159 8.77524 22.4159 7.53058C22.4159 3.64126 23.0173 2.02028 21.2464 1.60079C20.659 1.46096 20.2263 1.36947 18.7227 1.35393C16.7935 1.33494 15.1614 1.36083 14.2364 1.80449C13.6208 2.09968 13.146 2.75913 13.4362 2.7971C13.7932 2.84371 14.6022 3.01116 15.0313 3.58429C15.5853 4.32487 15.5659 5.98556 15.5659 5.98556C15.5659 5.98556 15.8842 10.5637 14.822 11.1316C14.0939 11.5218 13.095 10.7259 10.9477 7.0852C9.84853 5.22081 9.01845 3.15962 9.01845 3.15962C9.01845 3.15962 8.85841 2.77466 8.57175 2.56751C8.2253 2.3172 7.74167 2.23951 7.74167 2.23951L2.60464 2.27231C2.60464 2.27231 1.83259 2.29303 1.54945 2.62275C1.29796 2.91449 1.53011 3.52042 1.53011 3.52042C1.53011 3.52042 5.55214 12.7578 10.1071 17.4136C14.2839 21.681 19.0252 21.4013 19.0252 21.4013H21.1743Z" stroke="#7A22FF" stroke-width="2" fill="transparent")
						defs
							linearGradient(id="social-gradient" x1="-37.0002" y1="-53.8379" x2="68.9998" y2="56.1621" gradientUnits="userSpaceOnUse")
								stop(stop-color="white")
								stop(offset="1" stop-color="#7A22FF")
			li
				a(href="#")
					svg(width="15" height="29" viewBox="0 0 15 29" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M9.82638 28.0135V14.4161H13.5799L14.0773 9.7303H9.82638L9.83276 7.38503C9.83276 6.16291 9.94888 5.50807 11.7042 5.50807H14.0507V0.821777H10.2967C5.78751 0.821777 4.20039 3.09488 4.20039 6.91752V9.73083H1.38965V14.4166H4.20039V28.0135H9.82638Z" stroke="#7A22FF" stroke-width="2" fill="transparent")
			li
				a(href="#")
					svg(width="45" height="33" viewBox="0 0 45 33" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M42.9946 5.83676C42.5022 3.94532 41.0515 2.4559 39.2094 1.95041C35.871 1.03174 22.4832 1.03174 22.4832 1.03174C22.4832 1.03174 9.09542 1.03174 5.7568 1.95041C3.91467 2.4559 2.46392 3.94532 1.97158 5.83676C1.07715 9.26477 1.07715 16.4173 1.07715 16.4173C1.07715 16.4173 1.07715 23.5697 1.97158 26.9979C2.46392 28.8894 3.91467 30.3788 5.7568 30.8845C9.09542 31.8029 22.4832 31.8029 22.4832 31.8029C22.4832 31.8029 35.871 31.8029 39.2094 30.8845C41.0515 30.3788 42.5022 28.8894 42.9946 26.9979C43.8893 23.5697 43.8893 16.4173 43.8893 16.4173C43.8893 16.4173 43.8893 9.26477 42.9946 5.83676" stroke="#7A22FF" stroke-width="2" fill="transparent")
						path(class='stroke' d="M18.4703 23.7728V10.394L29.1733 17.0837L18.4703 23.7728Z" stroke="#7A22FF" stroke-width="2" fill="none")
			li
				a(href="#")
					svg(width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M16.5852 1.00534C17.1536 1.00445 17.7878 1.00534 18.5002 1.00534C24.1999 1.00534 24.8755 1.0258 27.1263 1.1281C29.2076 1.22328 30.3372 1.57111 31.0897 1.86334C32.0859 2.2503 32.7961 2.71288 33.5429 3.46013C34.29 4.20737 34.7525 4.91904 35.1403 5.91536C35.4325 6.66706 35.7807 7.79682 35.8755 9.87843C35.9778 12.1291 36 12.8051 36 18.5029C36 24.2006 35.9778 24.8767 35.8755 27.1273C35.7803 29.209 35.4325 30.3387 35.1403 31.0904C34.7534 32.0867 34.29 32.7962 33.5429 33.543C32.7957 34.2902 32.0864 34.7528 31.0897 35.1398C30.3381 35.4333 29.2076 35.7803 27.1263 35.8755C24.8759 35.9778 24.1999 36 18.5002 36C12.8001 36 12.1245 35.9778 9.87419 35.8755C7.79284 35.7794 6.66322 35.4316 5.91029 35.1393C4.91409 34.7524 4.20252 34.2898 3.45537 33.5425C2.70822 32.7953 2.2457 32.0854 1.85789 31.0886C1.5657 30.3369 1.21747 29.2072 1.12275 27.1256C1.02046 24.8749 1 24.1989 1 18.4976C1 12.7962 1.02046 12.1237 1.12275 9.8731C1.21792 7.79148 1.5657 6.66172 1.85789 5.90914C2.24481 4.91281 2.70822 4.20115 3.45537 3.4539C4.20252 2.70666 4.91409 2.24407 5.91029 1.85622C6.66278 1.56266 7.79284 1.21572 9.87419 1.12009C11.8435 1.03114 12.6066 1.00445 16.5852 1V1.00534Z" stroke="#7A22FF" stroke-width="2" fill="transparent")
						path(class="stroke" d="M18.4995 12.084C22.4292 12.084 25.6152 15.27 25.6152 19.2006C25.6152 23.1308 22.4292 26.3172 18.4995 26.3172C14.5694 26.3172 11.3838 23.1308 11.3838 19.2006C11.3838 15.27 14.5694 12.084 18.4995 12.084V12.084Z" stroke="#7A22FF" stroke-width="2" fill="transparent")
						path(class="stroke" d="M29.0617 5.69669C27.6474 5.69669 26.5 6.84291 26.5 8.25779C26.5 9.67221 27.6474 10.8198 29.0617 10.8198C30.4759 10.8198 31.6233 9.67221 31.6233 8.25779C31.6233 6.84336 30.4759 5.6958 29.0617 5.6958V5.69669Z" stroke="#7A22FF" stroke-width="2" fill="transparent")
		.footer__policy
			a(href="#") Политика конфиденциальности