footer.footer
  .footer__rights (c) 2019 г. Все права защищены
  .footer__social-icons
    img.footer__vk(src='images/show/footerSocial_vk1.svg', alt='vk')
    img.footer__fb(src='images/show/footerSocial_fb2.svg', alt='facebook')
    img.footer__yb(src='images/show/footerSocial_yb3.svg', alt='youtube')
    img.footer__vk(src='images/show/footerSocial_inst4.svg', alt='instagram')
  .footer__policy Политика конфиденциальности