include ../mixins/_historyCard.pug
- const histText1 = 'У нас в распоряжении дроны разных размеров и внешнего вида, которые гибко настраиваются для сцены с любыми возможностями.';
- const	histText2 = 'В своей работе мы используем  высокоточную технологию навигации и позиционирования. Это система не зависит от компаса, сигнала GPS / ГЛОНАСС а значит становится устойчивой  к воздействию магнитных полей,  наводимых от металлоконструкций   и линий  электропередач.';
- const histText3 = 'Управлением полетом  может  осуществлять один человек  с одним компьютером или телефоном. Это не требует участия я пилотов- дронов. Это позволяет гибко  регулировать количество  участвующих дронов и значительно снизить затраты.';
- const histText4 = 'Полноцветное световое  шоу — светодиодные лампы высокой яркости 24W, намного  ярче галогенных лампочек, они  прекрасно видны даже днем; 32-битные цвета предоставляют  16 777 216 оттенков цветов и 256 градаций прозрачности; 20 режимов мерцания цвета  на выбор.';

section.history
	.history__container
		h2.history__title.title.title-dark
			span Расскажите свою историю
			|  C помощью текста, логотипов
			br
			| и анимации
		.history__cards.cards-left
			+historyCard('quantity1', 'card__quantity', '200 дронов в одном помещении', histText1)
			+historyCard('radar3', 'card__radar', 'устойчивость к магнитным полям', histText2)
		.history__cards.cards-right
			+historyCard('target2', 'card__target', 'Управление из одного места', histText3)
			+historyCard('mobile4', 'card__mobile', 'Управление цветом с одной  кнопки', histText4)