include ../mixins/_historyCard.pug
- const histText1 = 'Наши беспилотники могут работать на высоте от 1 метра до 8 метров и на площади 50 на 50 метров.';
- const	histText2 = 'В своей работе мы используем  высокоточную технологию навигации и позиционирования. Это система не зависит от компаса, сигнала GPS / ГЛОНАСС а значит становится устойчивой  к воздействию магнитных полей,  наводимых от металлоконструкций   и линий  электропередач.';
- const histText3 = 'Управлением полетом  может  осуществлять один человек  с одним компьютером или телефоном. Это не требует участия пилотов- дронов. Это позволяет гибко  регулировать количество  участвующих дронов и значительно снизить затраты.';
- const histText4 = 'Полноцветное световое  шоу — светодиодные лампы высокой яркости 24W, намного  ярче галогенных лампочек, они  прекрасно видны даже днем; 32-битные цвета предоставляют  16 777 216 оттенков цветов и 256 градаций прозрачности; 20 режимов мерцания цвета  на выбор.';

- const histText1W = 'Дирижабли настраиваются и пилотируются исключительно квалифицированными пилотами и техническими специалистами.';
- const	histText2W = 'Сверхлегкие летающие модели перевозятся нашим персоналом в качестве дополнительного багажа на авиарейсах';
- const histText3W = 'Благодаря сверхлегкому весу и мини-силовым установкам с предохранительными винтами все дирижабли могут летать над аудиторией или исполнителями без каких-либо проблем с безопасностью.';
- const histText4W = 'Наши бригады привозят с собой запасные части, ремонтные комплекты, перезаряжаемые LiPo батареи и т. д., чтобы гарантировать непрерывную работу дирижаблей.';

section.history
	.history__container
		h2.history__title.title.title-dark
			span Расскажите свою историю
			br
			|  C помощью текста, логотипов
			| и анимации
		h2.history__title.title.title-white
			span мы
			br
			span преобразуем концепции
			|  или продукты в летающие конструкции
		.history__cards.cards-left.dark-text
			+historyCard('11', 'card__quantity', '200 дронов в одном помещении', histText1)
			+historyCard('44', 'card__radar', 'устойчивость к магнитным полям', histText2)
		.history__cards.cards-right.dark-text
			+historyCard('33', 'card__target', 'Управление из одного места', histText3)
			+historyCard('22', 'card__mobile', 'Управление цветом с одной  кнопки', histText4)

		.history__cards.cards-left.white-text
			+historyCardW('1', 'card__quantity', 'Опытные пилоты', histText1W)
			+historyCardW('2', 'card__radar', 'Транспортировка моделей', histText2W)
		.history__cards.cards-right.white-text
			+historyCardW('3', 'card__target', 'Безопасность', histText3W)
			+historyCardW('4', 'card__mobile', 'Непрерывная работа', histText4W)