section.history
	.history__container
		h2.history__title.title.title-dark
			span Расскажите свою историю
			|  с помощью текста, логотипов и анимации
		.history__cards-left
			.history__card
				img.card__icon(src='images/show/history_quantity1.svg' alt='card__quantity')
				.card__title.title-dark
					| 200 дронов в одном помещении
				.card__text
					| У нас в распоряжении дроны разных размеров и внешнего вида, которые гибко настраиваются для сцены с любыми возможностями.