section.our-clients
	.our-clients__container
		.our-clients__title.title.title-dark
			| Среди
			span  наших клиентов
		.our-clients__tabs
			ul.our-clients__tabs-top
				li.wborder.notched
					.our-clients_1
				li.wborder
					.our-clients_2
				li
					.our-clients_3
				li.wborder
					.our-clients_4
			ul.our-clients__tabs-middle
				li.none.wborder
				li
					.our-clients_5
				li.wborder
					.our-clients_6
				li
					.our-clients_7
			ul.our-clients__tabs-bottom.tabs-bottom
				li
					.our-clients_8
				li.none.wborder
				li
					.our-clients_9
				li.none.wborder
