section.our-clients
	.our-clients__container
		.our-clients__title.title.title-dark
			| Среди
			span  наших клиентов
		.our-clients__tabs
			ul.our-clients__tabs-top
				li.wborder.notched
					img(src='images/show/ourClients_cctv1.png' alt='cctv')
				li.wborder
					img(src='images/show/ourClients_cctv1.png' alt='cctv')
				li
					img(src='images/show/ourClients_cctv1.png' alt='cctv')
				li.wborder
					img(src='images/show/ourClients_cctv1.png' alt='cctv')
			ul.our-clients__tabs-middle
				li.none.wborder
				li
					img(src='images/show/ourClients_ww5.png' alt='ww')
				li.wborder
					img(src='images/show/ourClients_ww5.png' alt='ww')
				li
					img(src='images/show/ourClients_ww5.png' alt='ww')
			ul.our-clients__tabs-bottom.tabs-bottom
				li
					img(src='images/show/ourClients_triangle6.png' alt='triangle')
				li.none.wborder
				li
					img(src='images/show/ourClients_triangle6.png' alt='triangle')
				li.none.wborder
