section.our-clients
  .our-clients__container
    .our-clients__title.title.title-dark
      | Среди
      span наших клиентов
    .our-clients__tabs
      ul.our-clients__tabs-top
        li
          img(src='images/show/ourClients_cctv1.png', alt='cctv')
      ul.our-clients__tabs-middle
        li
          img(src='images/show/ourClients_ww5.png', alt='ww')
      ul.our-clients__tabs-bottom.tabs-bottom
        li.tabs-bottom__left
          img(src='images/show/ourClients_triangle6.png', alt='triangle')