article.presentation.light-show
	img(class="video-dark" src='images/show/video_TOP.png' alt='video_TOP')
	img(class="video-white" src='images/balloon/video_TOP.png' alt='video_TOP')
	.presentation__title
		img(class="bg-dark" src='images/show/dronico_text.svg' alt='dronico_text')
		img(class="bg-white" src='images/balloon/dronico_text.svg' alt='dronico_text')
	.presentation__subtitle
		h1.title-dark световое шоу дронов
		h1.title-white радиоуправляемые дирижабли с автопилотом для маркетинговых и развлекательных проектов по всему миру
	.presentation__text
		p Прикоснитесь к будущему в сфере искусства и технологий
	.presentation__button-wrapper
		.presentation__button.box
			p Заказать звонок
	ul.presentation__coords
		li 21.512344233, 35.1129764
		li 23.5d124323, 13.1195744
		li 70.512323, 45.11974
	.presentation__blocs-left
	.presentation__bloc-left.bloc
	.presentation__blocs-right
	.presentation__bloc-right.bloc
	.presentation__plus.presentation__plus--left +
	.presentation__plus.presentation__plus--right +
	.presentation__plus.presentation__plus--right-top +