article.presentation.light-show
  img(src='images/show/video_TOP.png', alt='video_TOP')
  .presentation__title
    img(src='images/show/dronico_text.svg', alt='dronico_text')
  .presentation__subtitle
    h1.title-dark световое шоу дронов
  .presentation__text
    p Прикоснитесь к будущему в сфере искусства и технологий
  .presentation__button-wrapper
    .presentation__button.box
      p Заказать звонок
  ul.presentation__coords
    li 21.512344233, 35.1129764
    li 23.5d124323, 13.1195744
    li 70.512323, 45.11974
  .presentation__plus.presentation__plus--left +
  .presentation__plus.presentation__plus--right +
  .presentation__plus.presentation__plus--right-top +