section.projects
	.projects__title-big
		img(src="#" alt="#")
	.projects__title.title
		span Примеры проектов
	.projects__wrapper
		.projects__card
			.projects__card-img
				img(src="#" alt="#")
			.projects__card-text
				.projects__card-title BMW Car
				.projects__card-text
					p pilot controlled
					p 1:1 scale with working front and rear lights
					p can also be operated in outdoor situations (only when absolutely wind free)