section.tech-dronico
	.tech-dronico__text-container
		h2.tech-dronico__title.title-dark
			| Мы используем
			span  передовые технологии-
		.tech-dronico__subtitle.title-dark technology
		div(class='tech-dronico__text-wrapper')
			p(class='tech-dronico__text active-btn' data-text='1')
				| Мы предлагаем беспилотники разных размеров и разной внешности. Они настраиваются в соответствии с возможностями сцены и другими необходимыми требованиями.
			p(class='tech-dronico__text' data-text='2')
				| Мы предлагаем беспилотники разных размеров и разной внешности.
			p(class='tech-dronico__text' data-text='3')
				| Мы предлагаем
	.tech-dronico__img-container
		.tech-dronico__img.small
			img(src='images/show/techDron_small1.png' alt='techDron_small')
			.tech-dronico__btn
				div(class='tech-dronico__circle active-btn' data-text='1')
					.tech-dronico__text-container
						span.plus +
						span.active-text GPS / ГЛОНАСС
		.tech-dronico__img.medium
			img(src='images/show/techDron_medium2.png' alt='techDron_medium')
			.tech-dronico__btn
				div(class='tech-dronico__circle' data-text='2')
					.tech-dronico__text-container
						span.plus +
						span.active-text GPS / ГЛОНАСС
		.tech-dronico__img.big
			img(src='images/show/techDron_big3.png' alt='techDron_big')
			.tech-dronico__btn
				div(class='tech-dronico__circle' data-text='3')
					.tech-dronico__text-container
						span.plus +
						span.active-text GPS / ГЛОНАСС