section.technologies
  h1.technologies__title.big-title.title-dark Технологии
  .technologies__image-container
    img.technologies__image(src='images/show/tech_sphere.png', alt='tech_sphere')
    .technologies__coord-left 70.512323, 45.11974
    .technologies__coord-right 70.512323, 45.11974
  .technologies__tabs
    .technologies__tab
      .technologies__tab-icon
        img(src='images/show/tech_circle1.svg', alt='tech_target')
      .technologies__tab-text
        | Контроль маршрута каждого беспилотника с
        span точностью до 1 см.