include ../mixins/_technologiesCard.pug

section.technologies
	.technologies__title
		img(src='images/show/tech_text.svg' alt='tech_text')
	.technologies__image-container
		iframe(src="iframe/Drone.html" frameborder="0" class="technologies__particles" loading="lazy")
		.technologies__coord-left
			.scrumble-text 70.512323, 45.11974
		.technologies__coord-right
			.scrumble-text 70.512323, 45.11974
	.technologies__tabs
		+technoCard('1', 'Контроль маршрута каждого беспилотника с', 'точностью до 1 см.','new-stroke', 'second')
		+technoCard('2', 'ВРЕМЯ ЗАДЕРЖКИ СИНХРОНИЗАЦИИ ДРОНОВ', '5-500 НАНОСЕКУНД', '','first')
		+technoCard('3', 'ВРЕМЯ ЗАДЕРЖКИ ОБРАТНОЙ СВЯЗИ', '5-20 НАНОСЕКУНД', '','third')
