section.tech-dronico
	.tech-dronico__text-container
		h2.tech-dronico__title.title-dark
			| Мы используем
			span  передовые технологии-
		.tech-dronico__subtitle.title-dark technology
		div(class='tech-dronico__text-wrapper')
			p(class='tech-dronico__text active-btn' data-text='1')
				|Управление дронами осуществляется через  наше приложение для телефона.​
			p(class='tech-dronico__text' data-text='2')
				| Дроны перевозятся и хранятся в специальных кофрах.​
			p(class='tech-dronico__text' data-text='3')
				| В случае обрыва связи или в других  внештатных ситуациях, дроны приземлятся  автоматически.​
	div(class="tech-dronico__img-container")
		div(class="tech-dronico__img small")
			div(class="rellax" data-invert-y="false" data-rellax-speed="-2")
				img(src='images/show/techDron_small1.png' data-depth="0.2" alt='techDron_small')
			div(class='tech-dronico__btn active-btn' data-text='1')
				.tech-dronico__circle
					.tech-dronico__text-container
						span.plus +
						span.active-text Автоматизация
		div(class="tech-dronico__img medium")
			div(class="rellax" data-invert-x="false" data-rellax-speed="-3")
				img(src='images/show/techDron_medium2.png' data-depth="0.2" alt='techDron_medium')
			div(class='tech-dronico__btn' data-text='2')
				.tech-dronico__circle
					.tech-dronico__text-container
						span.plus +
						span.active-text Транспортировка
		.tech-dronico__img.big
			div(class="rellax" data-rellax-speed="3")
				img(src='images/show/techDron_big3.png' data-depth="0.2" alt='techDron_big')
			div(class='tech-dronico__btn' data-text='3')
				.tech-dronico__circle
					.tech-dronico__text-container
						span.plus +
						span.active-text Безопасность