include ../mixins/_usingCard.pug
- const text1 = 'У нас в распоряжении дроны разных размеров и внешнего вида, которые гибко настраиваются для сцены с любыми возможностями.'

section.using-areas.using-areas-dark
	.using-areas__pagination
		.using-areas__pagination-prev
		.using-areas__pagination-next
	h2.using-areas__title.title
		| Области применения
	.using-areas__slider.using-card__container.swiper-container
		.using-card__wrapper.swiper-wrapper
			+usingCard('01', '01', 'Спортивные мероприятия ', text1)
			+usingCard('02', '02', 'Церемонии открытия', text1)
			+usingCard('03', '03', 'Ледовые шоу, мюзиклы', text1)
			+usingCard('04', '04', 'Маркетинговые мероприятия', text1)
			+usingCard('05', '05', 'Свадебные мероприятия и праздники', text1)
			+usingCard('06', '06', 'Наука и образование', text1)
