include ../mixins/_usingCard.pug
- const text1 = 'Проведение спортивных мероприятий в сопровождении дронов позволит выделить событие среди остальных'
- const text2 = 'Церемония открытия действительно станет большой и незабываемой совместно с шоу дронов'
- const text3 = 'Красивый мюзикл или шоу с визуальными эфектами в виде дронов позволит стать уникальным'
- const text4 = 'Шоу позволит выделить ваш продукт среди конкурентов и придать ему индивидуальности в презентации'
- const text5 = 'Яркое выступление шоу дронов, информационный шлейф которого остается надолго. Огромные, разноцветные фигуры видны на много километров'
- const text6 = 'Позволит решить задачи обучения и изучения основ робототехники и авионики, освоением приёмов пилотирования, изучением освно программирования'

section.using-areas.using-areas-dark
	.using-areas__pagination
		.using-areas__pagination-prev
		.using-areas__pagination-next
	h2.using-areas__title.title
		| Области применения
	.using-areas__slider.using-card__container.swiper-container
		.using-card__wrapper.swiper-wrapper
			+usingCard(1,'312487203','01', '01', 'Спортивные мероприятия ', text1)
			+usingCard(2,'507038250','02', '02', 'Церемонии открытия', text2)
			+usingCard(3,'507031674','03', '03', 'Ледовые шоу, мюзиклы', text3)
			+usingCard(4,'312487068','04', '04', 'Маркетинговые мероприятия', text4)
			+usingCard(5,'312266145','05', '05', 'Свадебные мероприятия и праздники', text5)
			+usingCard(6,'507032223','06', '06', 'Наука и образование', text6)
