section.using-areas.using-areas-dark
	h2.using-areas__title.title.title-dark
		| Области применения
	.using-areas__slider
		.using__card
			.using__card--top.card-img
				img(src='images/show/use_sphere.png' alt='sphere')
				.using__card--top-line
			.using__card--bottom
				.using__card-count.card-title.title-dark
					| Церемонии открытия
				.using__card-text.card-bigtext
					| У нас в распоряжении дроны разных размеров и внешнего вида, которые гибко настраиваются для сцены с любыми возможностями.
	.using__card-pagination.card-pagination
		.card-pagination__left
		.card-pagination__right