extends ../layouts/main.pug

block variables
  - const titleShow = 'Cinematic FPV';
  - const bodyClass = 'red';
  - const cinematic = true;

block content
  include ../sections/cinematic/_1presentation.pug
  .wrapper.wrapper-red
    main.main.main-red
      include ../sections/cinematic/_2using-areas.pug
      include ../sections/cinematic/_3technology.pug
      include ../sections/cinematic/_4advantages.pug
      //- include ../sections/cinematic/_4pilots.pug
      include ../sections/cinematic/_6event.pug
      include ../sections/cinematic/_7security.pug
      include ../sections/cinematic/_8work.pug
      include ../sections/cinematic/_9map.pug