extends ../layouts/main.pug

block variables
  - const titleShow = 'Световое шоу';
  - const bodyClass = 'dark';
  - const main = true;

block content
  include ../sections/lightning/_presentation.pug
  .wrapper.wrapper-dark
    main.main
      include ../sections/lightning/_using-areas.pug
      include ../sections/_history.pug
      include ../sections/lightning/_dronico-slider.pug
      include ../sections/lightning/_tech-dronico.pug
      include ../sections/lightning/_technologies.pug
      include ../sections/lightning/_about.pug
      include ../sections/lightning/_our-clients.pug
      include ../sections/lightning/_work.pug
      include ../sections/lightning/_map.pug