block variables

<!DOCTYPE html>
html(lang="en")
	head
		include ../sections/_head.pug
	body(class="" +bodyClass)

		include ../sections/_header.pug

		.content
			block content

		//- include ../sections/_footer.pug

		script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB8ELQtiPPBbfNKcUHh0F0kRpQkHS6qgVI&callback=initMap' type='text/javascript')
		script(src="js/libs/swiper-bundle.min.js")
		script(src="js/main.min.js")

