@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.eot");
  src: local("☺"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype"),
    url("../fonts/Geometria.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio-Thin.eot");
  src: local("☺"), url("../fonts/RoadRadio-Thin.woff") format("woff"),
    url("../fonts/RoadRadio-Thin.ttf") format("truetype"), url("../fonts/RoadRadio-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio-Light.eot");
  src: local("☺"), url("../fonts/RoadRadio-Light.woff") format("woff"),
    url("../fonts/RoadRadio-Light.ttf") format("truetype"), url("../fonts/RoadRadio-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio.eot");
  src: local("☺"), url("../fonts/RoadRadio.woff") format("woff"), url("../fonts/RoadRadio.ttf") format("truetype"),
    url("../fonts/RoadRadio.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio-Bold.eot");
  src: local("☺"), url("../fonts/RoadRadio-Bold.woff") format("woff"),
    url("../fonts/RoadRadio-Bold.ttf") format("truetype"), url("../fonts/RoadRadio-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio-Black.eot");
  src: local("☺"), url("../fonts/RoadRadio-Black.woff") format("woff"),
    url("../fonts/RoadRadio-Black.ttf") format("truetype"), url("../fonts/RoadRadio-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
