html {
	font-size: 10px;
}

body {
	&.dark {
		background: $background;
	}
	&.white {
		background: #fff;
	}
	font-family: "RoadRadio", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

.wrapper {
	padding: 0 30px 0 30px;
	overflow: hidden;
}

.wrapper-dark,
.wrapper-dark a {
	color: #fff;
}
.wrapper-white,
.wrapper-white a {
	color: #000;
}

.wrapper-dark {
	background: url("../images/pattern.png") repeat, url("../images/show/use_radialBG.png") no-repeat 0 -5%,
		url("../images/show/tech_radialBg.png") no-repeat 60% 13%,
		url("../images/show/tech_radialBg.png") no-repeat 100% 50%,
		url("../images/show/work_radialBg.png") no-repeat -60% 88%,
		url("../images/show/techDron_radialBg.png") no-repeat center bottom 65%;
}
.wrapper-white {
	background: url("../images/patternB.png") repeat, url("../images/balloon/dolphin_radialBg.png") no-repeat 50% 14%;
}

.big-title img,
.about img {
	width: 100%;
}

.title {
	font-weight: 900;
	font-size: 6.4rem;
	line-height: 6.5rem;
	text-transform: uppercase;
	span {
		color: $main;
	}
}

.swiper-button-prev:after,
.swiper-button-next:after {
	content: "";
}
.swiper-button-prev,
.swiper-bundle-next {
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}

.gmnoprint,
.gm-style-cc,
.fslightbox-slide-number-container,
.fslightbox-slide-btn-container {
	display: none !important;
}

.bloc {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.02);
}

.invisible *:not(.presentation__title, .bg-dark, .bg-white) {
	opacity: 0;
}

.invisible *:not(.intransition *, .intransition) {
	transition: all 4s ease;
}

.scrumble-text {
	font-family: "Roboto Mono", monospace !important;
}

@media (min-width: 1950px) {
	.title {
		font-size: 10rem;
		line-height: 10rem;
	}

	.wrapper-dark {
		background: url("../images/pattern.png") repeat, url("../images/show/use_radialBG.png") no-repeat 0 -5%,
			url("../images/show/tech_radialBg.png") no-repeat 60% 13%,
			url("../images/show/tech_radialBg.png") no-repeat 100% 50%,
			url("../images/show/work_radialBg.png") no-repeat 0% 80%,
			url("../images/show/techDron_radialBg.png") no-repeat center bottom 65%;
	}
}

@media (max-width: 1440px) {
	html {
		font-size: 7.5px;
	}
}

@media (max-width: 1250px) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 1025px) {
	.title {
		font-size: 5.3rem;
		line-height: 5.4rem;
	}
}

@media (max-width: 768px) {
	.wrapper-dark {
		background: url("../images/pattern.png") repeat, url("../images/show/use_radialBG.png") no-repeat 0 -5%,
			url("../images/show/tech_radialBg.png") no-repeat 60% 13%,
			url("../images/show/tech_radialBg.png") no-repeat 100% 50%,
			url("../images/show/work_radialBg.png") no-repeat 0% 85%,
			url("../images/show/techDron_radialBg.png") no-repeat center bottom 65%;
	}

	.wrapper-white {
		background: url("../images/patternB.png") repeat, url("../images/balloon/dolphin_radialBg.png") no-repeat 50% 14%,
			url("../images/balloon/dolphin_radialBg.png") no-repeat 0% 90%;
	}
}

@media (max-width: 550px) {
	html {
		font-size: 6px;
	}
}
