html {
	font-size: 10px;
}

body {
	&.dark{
		background: $background url('../images/pattern.png') repeat;
	}
	&.white{
		background: #fff url('../images/patternB.png') repeat;
	}
	font-family: "RoadRadio", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

.wrapper {
	margin: 0 30px 0 30px;
}

.wrapper-dark,
.wrapper-dark a {
	color: #fff;
}
.wrapper-white,
.wrapper-white a{
	color: #000;
}

.big-title img,
.about img {
	width: 100%;
}

.title {
	font-weight: 900;
	font-size: 6.4rem;
	line-height: 6.5rem;
	text-transform: uppercase;
	span {
		color: $main;
	}
}

.swiper-button-prev:after,
.swiper-button-next:after{
	content: '';
}
.swiper-button-prev,
.swiper-bundle-next {
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}

.gmnoprint,
.gm-style-cc {
	display: none;
}