@mixin pseudoCorn($bordTop, $bordRight, $bordBot, $bordLeft, $top, $right, $bot, $left, $bgColor) {
	content: "";
	width: 10px;
	height: 10px;
	border-top: $bordTop solid #fff;
	border-bottom: $bordBot solid #fff;
	border-left: $bordLeft solid #fff;
	border-right: $bordRight solid #fff;
	position: absolute;
	background: $bgColor;
	top: $top;
	bottom: $bot;
	left: $left;
	right: $right;
}

@mixin pseudoPlus($fontSize, $left, $top, $right, $bottom, $opacity) {
	content: "+";
	width: 15px;
	height: 15px;
	font-family: Geometria;
	font-size: $fontSize;
	position: absolute;
	left: $left;
	top: $top;
	right: $right;
	bottom: $bottom;
	opacity: $opacity;
}
