include ../../mixins/_usingCard.pug
- const text0 = ''

section.using-areas.using-areas--red
  .using-areas__pagination
    .using-areas__pagination-prev
    .using-areas__pagination-next
  h2.using-areas__title.using-areas__title--red.title.title--red
    | Области
    span  применения
  p.using-areas__text
    | Профессиональная кинематографическая аэросъемка с гоночных квадрокоптеров
  .using-areas__slider.using-card__container.swiper-container.using-areas__slider--red
    .using-card__wrapper.swiper-wrapper
      +usingCard(1,'312487203','01', '01','cinematic', 'Спортивные мероприятия и выступления.', text0)
      +usingCard(2,'507038250','02', '02','cinematic', 'Автоспорт & Мотоспорт.', text0)
      +usingCard(3,'507031674','03', '03','cinematic', 'Концертные туры и фестивали.', text0)
      +usingCard(4,'312487068','04', '04','cinematic', 'Видео недвижимости, корпоративные фильмы', text0)
      +usingCard(5,'312266145','05', '05','cinematic', 'Промо-ролики для брендов ', text0)
