section.advantages
  .advantages__drone.rellax(data-rellax-speed="-2")
    img(src="images/cinematic/advantages-drone.png" alt="drone" data-depth="0.2")
  .advantages__wrapper
    h2.advantages__title.title.title--red Преимущества
    .advantages__inner
      .advantages__inner-btn
        div.tech-dronico__btn.advantages__btn.advantages__btn--1
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text.advantages__btn-text--1 Качество съемки 4K.
        div.tech-dronico__btn.advantages__btn.advantages__btn--2
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text.advantages__btn-text--2 Неожиданные ракурсы и траектории съемки.
        div.tech-dronico__btn.advantages__btn.advantages__btn--3
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text.advantages__btn-text--3 Высочайшая точность в исполнении замысла заказчика, позволяет получить выдающиеся кадры.
        div.tech-dronico__btn.advantages__btn.advantages__btn--4
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text.advantages__btn-text--4 Представляем элиту пилотов по дрон-рейсингу (drone racing -  гоночные соревнования FPV квадрокоптеров) России.
