include ../../mixins/_mixins.pug

section.pilots
  .pilots__wrapper
    h2.pilots__title.title.title--red Пилоты
    .pilots__inner
      +pilotsCard('pilot_1.jpg', 'AMARI')
      +pilotsCard('pilot_2.jpg','PHLUXY')
      +pilotsCard('pilot_3.jpg','SKY')
      +pilotsCard('pilot_4.jpg','GAB707')
      +pilotsCard('pilot_5.jpg','JET')
      +pilotsCard('pilot_6.jpg','HEADSUP')
