include ../../mixins/_mixins.pug

section.event
  .event__drone-medium.absolute.rellax(data-rellax-speed="-1.5")
    img(src="images/cinematic/event-drone_medium.png" alt="drone-medium" data-depth="-0.2")

  .event__line.event__line--right-red-big.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_red-big.png" alt="line--red-left-big" data-depth-y="0.2")
  .event__line.event__line--right-red-medium.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_red-medium.png" alt="line--red-left-medium" data-depth-y="-0.2")
  .event__line.event__line--right-blue.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_blue-big.png" alt="line--blue-left" data-depth-y="-0.2")

  .event__wrapper
    h2.event__title.title.title--red Покажи своё событие с
      span  необычного ракурса
    .event__inner
      +eventCard('event_1.svg','Съемка при скорости до 150 км/ч на открытой местности и от 0 до 5м/с в помещении.')
      +eventCard('event_2.svg','Экшн-камера 4 К, цифровое изображение высокой четкости.')
      +eventCard('event_3.svg','Возможность онлайн-трансляции с дальностью передачи сигнала до 4 км.')
      +eventCard('event_4.svg','Вес дрона от 100 гр. до 1,5 кг в зависимости от задач.')