section.security

  .security__line.security__line--right-red-top.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_red-medium.png" alt="line--red-left-medium" data-depth-y="0.2")
  .security__line.security__line--right-red-bottom.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_red-medium.png" alt="line--red-left-medium" data-depth-y="-0.2")
  .security__line.security__line--right-blue-big.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_blue-big.png" alt="line--blue-right" data-depth-y="-0.2")
  .security__line.security__line--right-blue-small.absolute.rellax(data-rellax-speed="0")
    img(src="images/cinematic/line_blue-small.png" alt="line--blue-right" data-depth-y="0.2")

  .security__wrapper
    h2.security__title.title.title--red Безопасность
    .security__inner
      .security__inner-btn
        div.tech-dronico__btn.security__btn.security__btn--1
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text Наши дроны оборудованы системой защиты для безопасности зрителей и актеров.
        div.tech-dronico__btn.security__btn.security__btn--2
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text Наши пилоты прошли школу безопасности во Всероссийской лиге дрон-рейсинга RDR в соответствие с протоколами FAI.ё
        div.tech-dronico__btn.security__btn.security__btn--3
          .tech-dronico__circle
            .tech-dronico__text-container
              span.plus +
          .advantages__btn-text Обязательное страхование профессиональной ответственности наших пилотов.