.advantages {
  position: relative;

  &__drone {
    top: -5%;
    left: -3%;
    z-index: 5;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__line {
    transform: skew(-34deg) !important;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--left {
      &-red {
        &-big {
          top: 30%;
          left: -14.5%;
          z-index: 2;
        }

        &-medium {
          top: 7%;
          left: 16%;
        }

        &-small {
          top: 55%;
          left: 14.5%;
        }
      }

      &-blue {
        top: 46%;
        left: -1%;
        z-index: 2;
      }
    }

    &--right {
      &-red {
        &-top {
          top: 2%;
          right: -15%;
        }

        &-bottom {
          top: 10%;
          right: -14.5%;
        }
      }

      &-blue {
        top: -2%;
        right: -10%;
      }
    }
  }

  &__wrapper {
    padding-top: 180px;
  }

  &__title {
    text-align: right;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  &__inner-btn {
    max-width: 1350px;
    width: 1350px;
    max-height: 600px;
    height: 600px;
    position: relative;
  }

  &__btn-text {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 1250px;
    width: 1250px;

    &--3 {
      width: 1170px;
    }
  }

  &__btn {
    position: absolute;
    cursor: auto;

    &.tech-dronico__btn .tech-dronico__circle {
      background: $red;
    }

    &--1 {
      top: 0;
      left: 15%;
    }

    &--2 {
      top: 25%;
      left: 10%;
    }

    &--3 {
      top: 50%;
      left: 5%;
    }

    &--4 {
      top: 75%;
      left: 0%;
    }

    .tech-dronico__circle {
      .tech-dronico__text-container {
        .plus {
          transform: translate(-50%, -53%);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .advantages {
    &__wrapper {
      padding-top: 165px;
    }

    &__btn-text {
      font-size: 24px;
      line-height: 24px;
      width: 842px;

      &--3 {
        width: 722px;
      }
    }

    &__drone {
      top: -5%;
      left: -3%;
      z-index: 5;

      img {
        width: 620px;
      }
    }

    &__line {
      &--left {
        &-red {
          &-big {
            left: -28%;
          }

          &-medium {
            left: 13%;
          }

          &-small {
            left: 13%;
            top: 52%;
          }
        }

        &-blue {
          left: -9.5%;
        }
      }

      &--right {
        &-blue {
          top: -6%;
          right: -10%;
        }
      }
    }

    &__inner-btn {
      height: 500px;
    }

    &__btn {
      &--1 {
        top: 0;
        left: 40%;
      }

      &--2 {
        top: 25%;
        left: 35%;
      }

      &--3 {
        top: 50%;
        left: 30%;
      }

      &--4 {
        top: 75%;
        left: 25%;
      }
    }
  }
}

@media (max-width: 1025px) {
  .advantages {
    &__drone {
      img {
        width: 45vw;
      }
    }

    &__line {
      img {
        width: 70%;
      }
    }

    &__btn {
      z-index: 5;

      &--1 {
        left: 15vw;
      }

      &--2 {
        top: 12vw;
        left: 10vw;
      }

      &--3 {
        top: 24vw;
        left: 5vw;
      }

      &--4 {
        top: 36vw;
        left: 0vw;
      }
    }

    &__inner-btn {
      height: 45vw;
    }

    &__btn-text {
      width: 80vw;
      font-size: 2.1vw;
      line-height: 2.2vw;
    }
  }
}
