$cardWidth: 21.5vw;
$cardHeight: 19.5vw;
$corn: 1.9vw;
$borderWidth: 3px;
$calculate: calc(1.9vw + 3px);

.event {
  position: relative;

  &__line {
    transform: skew(-34deg) !important;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--right {
      &-red {
        &-big {
          top: -80%;
          right: -10.5%;
        }

        &-medium {
          top: 27%;
          right: 17.5%;
        }
      }

      &-blue {
        top: -48%;
        right: 0;
      }
    }
  }

  &__dron-small,
  &__dron-medium {
    position: absolute;
    top: -25%;
    right: 15%;
  }

  &__dron-small {
    img {
      width: 348px;
      object-fit: contain;
    }
  }

  &__dron-medium {
    top: -24%;

    img {
      width: 766px;
      object-fit: contain;
    }
  }

  &__wrapper {
    margin-top: 165px;
    margin-bottom: 248px;
  }

  &__title {
    max-width: 725px;
    margin-bottom: 140px;
    font-weight: 900;
    font-size: 96px;
    line-height: 97px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__card {
  }
}

.event-card {
  position: relative;
  width: $cardWidth;
  height: $cardHeight;
  display: inline-block;
  border: $borderWidth solid $red;
  background: linear-gradient(135deg, $red 0 $calculate, transparent 0) top left / 50% 50%,
    linear-gradient(-45deg, $red 0 $calculate, transparent 0) bottom right / 50% 50%, $alpha;
  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
    linear-gradient(-45deg, transparent 0 $corn, #fff 0) bottom right,
    linear-gradient(135deg, transparent 0 $corn, #fff 0) top left,
    linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
  -webkit-mask-size: 51% 51% !important;
  -webkit-mask-repeat: no-repeat !important;

  &__wrapper {
    padding: 25px;
    text-align: right;
  }

  &__img {
    width: 156px;
    height: 156px;
    object-fit: contain;
    margin-bottom: 20px;
  }

  &__text {
    text-align: left;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

@media (max-width: 1440px) {
  .event {
    &__title {
      max-width: 575px;
      margin-bottom: 112px;
      font-size: 77px;
      line-height: 78px;
    }

    &__line {
      &--right {
        &-red {
          &-big {
            top: -101%;
            right: -18%;
          }

          &-medium {
            top: 13%;
            right: 16.5%;
          }
        }
      }
    }

    &__wrapper {
      margin-top: 120px;
      margin-bottom: 120px;
    }

    &__dron-small {
      top: -13%;

      img {
        width: 248px;
      }
    }

    &__dron-medium {
      top: -8%;

      img {
        width: 546px;
      }
    }
  }

  .event-card {
    &__img {
      width: 118px;
      height: 118px;
      margin-right: 10px;
    }

    &__text {
      font-size: 20px;
      line-height: 20px;
    }

    &__wrapper {
      padding: 18px;
    }
  }
}
