.security {
  position: relative;

  &__line {
    transform: skew(-34deg) !important;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--right {
      &-red {
        &-top {
          top: -45%;
          right: -16%;
        }

        &-bottom {
          top: -40%;
          right: -17.5%;
        }
      }

      &-blue {
        &-big {
          top: -55%;
          right: -13%;
        }

        &-small {
          top: 40%;
          right: 1%;
        }
      }
    }
  }

  &__wrapper {
    margin-bottom: 158px;
  }

  &__title {
    margin-bottom: 84px;
  }

  &__inner {
  }

  &__inner-btn {
    max-width: 1470px;
    width: 1470px;
    max-height: 450px;
    height: 450px;
    position: relative;
  }

  &__btn {
    left: 5%;
    cursor: auto;

    &.tech-dronico__btn .tech-dronico__circle {
      background: $red;
    }

    &--1 {
      top: 0%;
    }

    &--2 {
      top: 40%;
    }

    &--3 {
      top: 80%;
    }

    .tech-dronico__circle {
      .tech-dronico__text-container {
        .plus {
          transform: translate(-50%, -53%);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .security {
    &__inner-btn {
      height: 340px;
    }

    &__line {
      &--right {
        &-red {
          &-top {
            top: -59%;
            right: -23%;
          }

          &-bottom {
            top: -54%;
            right: -25.5%;
          }
        }

        &-blue {
          &-big {
            top: -89%;
            right: -24%;
          }

          &-small {
            top: 38%;
            right: -3%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .security {
    &__btn {
      left: 0;
    }

    &__inner-btn {
      height: 28vw;
    }

    &__line {
      img {
        width: 70%;
      }
    }
  }
}
