$corn: 1.5vw;
$borderWidth: 2px;
$calculate: calc(1.5vw + 2px);

.cinematic-techno {
  position: relative;

  &__line {
    transform: skew(-34deg) !important;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--left {
      &-red {
        &-big {
          top: 10%;
          left: -32%;
        }

        &-medium {
          top: -20%;
          left: -2%;
        }
      }

      &-blue {
        top: 30%;
        left: -20%;
      }
    }

    &--right {
      &-red {
        top: -60%;
        right: -20%;
      }

      &-blue {
        &-top {
          top: -15%;
          right: -6%;
        }

        &-bottom {
          top: -30%;
          right: -6%;
        }
      }
    }
  }

  &__drone {
    z-index: 6;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--big {
      width: 38vw;
      top: -40%;
      right: 12%;
    }
  }

  &__wrapper {
    margin: 250px 0 70px 0;
    position: relative;
    z-index: 5;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__video-wrapper {
    max-width: 812px;
    border: $borderWidth solid $red;
    background: linear-gradient(45deg, $red 0 $calculate, transparent 0) bottom left / 50% 50%,
      linear-gradient(-135deg, $red 0 $calculate, transparent 0) top right / 50% 50%, $alpha;
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask: linear-gradient(45deg, transparent 0 $corn, #fff 0) bottom left,
      linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
      linear-gradient(135deg, transparent 0 0, #fff 0) top left,
      linear-gradient(-135deg, transparent 0 $corn, #fff 0) top right;
    -webkit-mask-size: 50.5% 50.5% !important;
    -webkit-mask-repeat: no-repeat !important;
  }

  &__video {
    margin-bottom: -2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-mask: linear-gradient(45deg, transparent 0 $corn, #fff 0) bottom left,
      linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
      linear-gradient(135deg, transparent 0 0, #fff 0) top left,
      linear-gradient(-135deg, transparent 0 $corn, #fff 0) top right;
    -webkit-mask-size: 51% 51% !important;
    -webkit-mask-repeat: no-repeat !important;
  }

  &__title {
    margin-bottom: 25px;

    &--big {
      max-width: 915px;
      margin: 0;

      span {
        color: $red;
      }
    }
  }

  &__text {
    max-width: 790px;
    margin-bottom: 130px;
  }
}

@media (max-width: 1440px) {
  .cinematic-techno {
    &__wrapper {
      margin: 200px 0 0px 0;
    }

    &__text {
      max-width: 600px;
      margin-bottom: 20px;
    }

    &__title {
      &--big {
        max-width: 1100px;
      }
    }

    &__line {
      &--left {
        &-red {
          &-big {
            top: 10%;
            left: -48%;
          }

          &-medium {
            top: -20%;
            left: -10%;
          }
        }

        &-blue {
          top: 30%;
          left: -28%;
        }
      }

      &--right {
        &-red {
          top: -110%;
          right: -30%;
        }

        &-blue {
          &-top {
            top: -45%;
            right: -15%;
          }

          &-bottom {
            top: -60%;
            right: -15%;
          }
        }
      }
    }

    &__drone {
      &--big {
        top: -50%;
      }
    }
  }
}

@media (max-width: 1025px) {
  .cinematic-techno {
    &__drone {
      &--big {
        width: 45vw;
        top: -70%;
        right: 0;
      }
    }

    &__line {
      img {
        width: 70%;
      }
    }
  }
}

@media (max-width: 768px) {
  $corn: 5vw;
  $borderWidth: 2px;
  $calculate: calc(5vw + 2px);

  .cinematic-techno {
    &__wrapper {
      margin: 100px 0;
    }

    &__text {
      margin-bottom: 25px;
    }

    &__drone {
      &--big {
        width: 45vw;
        top: -30%;
      }
    }

    &__video-wrapper {
      max-width: 812px;
      border: $borderWidth solid $red;
      background: linear-gradient(45deg, $red 0 $calculate, transparent 0) bottom left / 50% 50%,
        linear-gradient(-135deg, $red 0 $calculate, transparent 0) top right / 50% 50%, $alpha;
      background-origin: border-box;
      background-repeat: no-repeat;
      -webkit-mask: linear-gradient(45deg, transparent 0 $corn, #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 0, #fff 0) top left,
        linear-gradient(-135deg, transparent 0 $corn, #fff 0) top right;
      -webkit-mask-size: 50.5% 50.5% !important;
      -webkit-mask-repeat: no-repeat !important;
    }

    &__video {
      margin-bottom: -2px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      -webkit-mask: linear-gradient(45deg, transparent 0 $corn, #fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 0, #fff 0) bottom right,
        linear-gradient(135deg, transparent 0 0, #fff 0) top left,
        linear-gradient(-135deg, transparent 0 $corn, #fff 0) top right;
      -webkit-mask-size: 51% 51% !important;
      -webkit-mask-repeat: no-repeat !important;
    }

    &__inner {
      display: block;
    }

    &__title--big {
      margin-bottom: 20px;
    }

    &__line {
      img {
        width: 70%;
      }

      &--left {
        &-red {
          &-big {
            top: 10%;
            left: -50%;
          }

          &-medium {
            top: -10%;
            left: -5%;
          }
        }

        &-blue {
          top: 20%;
          left: -20%;
        }
      }

      &--right {
        &-red {
          top: -25%;
          right: -50%;
        }

        &-blue {
          &-top {
            top: 10%;
            right: -25%;
          }

          &-bottom {
            top: 0%;
            right: -25%;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .cinematic-techno {
    &__wrapper {
      margin: 50px 0 0 0;
      position: relative;
      z-index: 5;
    }

    &__drone {
      display: none;
    }

    &__line {
      img {
        width: 40%;
      }

      &--left {
        &-red {
          &-big {
            left: -70%;
          }
        }

        &-blue {
          left: -30%;
        }
      }

      &--right {
        &-red {
          display: none;
        }

        &-blue {
          &-top {
            display: none;
          }

          &-bottom {
            display: none;
          }
        }
      }
    }
  }
}
