$corn: 3vw;
$calculate: calc(3vw + 3px);

.cinematic-work {
  position: relative;

  &__line {
    transform: skew(-34deg) !important;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--left {
      &-red {
        &-big {
          top: 10%;
          left: -15.5%;
        }

        &-top {
          top: 0%;
          left: 13%;
        }

        &-medium {
          top: 53%;
          left: -3%;
        }

        &-bottom {
          top: 63%;
          left: -7.5%;
        }
      }

      &-blue {
        &-top {
          top: 19%;
          left: -3%;
        }

        &-bottom {
          top: 30%;
          left: 2%;
          z-index: 4;
        }

        &-small {
          top: 68%;
          left: -1%;
        }
      }
    }
  }

  &__drone-medium,
  &__drone-big {
    position: absolute;
    z-index: 5;
  }

  &__drone-medium {
    right: 0;
    top: -20%;

    img {
      object-fit: contain;
      width: 40vw;
    }
  }

  &__drone-big {
    top: 10%;
    left: 0%;

    img {
      width: 45vw;
      object-fit: contain;
    }
  }

  &__title {
    max-width: 350px;
  }

  &__wrapper {
    display: flex;
  }

  &__block {
    width: 43.5vw;
  }
}

.work__slide.red {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 55px 0 40px 35px;
  height: 19.5vw;
  width: 21.5vw;
  border-color: $red;
  background: linear-gradient(-45deg, $red 0 $calculate, transparent 0) bottom right/50% 50%,
    linear-gradient(135deg, $red 0 $calculate, transparent 0) top left / 50% 50%, $alpha;
  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
    linear-gradient(-45deg, transparent 0 $corn, #fff 0) bottom right,
    linear-gradient(135deg, transparent 0 $corn, #fff 0) top left,
    linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
  -webkit-mask-size: 51% 51% !important;
  -webkit-mask-repeat: no-repeat !important;
  transition: all 0.5s ease;

  svg {
    height: 5vw;
    margin-left: 30px;
  }

  .work__slide-text {
    max-width: 350px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  &:nth-child(2n) {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    margin-left: 90%;
    margin-top: 10px;
    margin-bottom: 56px;
  }

  &:hover {
    background: linear-gradient(-45deg, $red 0 $calculate, transparent 0) bottom right/50% 50%,
      linear-gradient(135deg, $red 0 $calculate, transparent 0) top left / 50% 50%, $red;
    background-origin: border-box;
    background-repeat: no-repeat;

    path {
      stroke: #fff;
    }
  }
}

@media (max-width: 1440px) {
  .cinematic-work {
    &__drone-medium {
      top: -35%;
    }

    &__drone-big {
      top: 25%;
    }

    &__block {
      width: 50vw;
    }

    &__line {
      &--left {
        &-red {
          &-big {
            top: 13%;
            left: -27.5%;
          }

          &-top {
            top: 6%;
            left: 7.5%;
          }

          &-medium {
            top: 57%;
            left: -3%;
          }

          &-bottom {
            top: 71%;
            left: -8.5%;
          }
        }

        &-blue {
          &-top {
            top: 27%;
            left: -11.5%;
          }

          &-bottom {
            top: 42%;
            left: -6%;
          }

          &-small {
            top: 79%;
          }
        }
      }
    }
  }

  .work__slide.red {
    .work__slide-text {
      font-size: 27px;
      line-height: 27px;
    }
  }
}

@media (max-width: 1025px) {
  .cinematic-work {
    &__line {
      img {
        width: 70%;
      }
    }

    &__drone-medium {
      top: -23%;

      img {
        width: 31vw;
      }
    }

    &__drone-big {
      top: 25%;

      img {
        width: 48vw;
      }
    }
  }

  .work__slide.red {
    padding: 20px;

    .work__slide-text {
      font-size: 2vw;
      line-height: 2.5vw;
    }
  }
}

@media (max-width: 550px) {
  $corn: 13vw;
  $calculate: calc(13vw + 3px);

  .cinematic-work {
    &__title {
      max-width: 172px;
      margin-bottom: 25px;
    }

    &__wrapper {
      display: block;
      margin-bottom: 50px;
    }

    &__block {
      display: none;
    }

    &__drone-medium,
    &__drone-big {
      display: none;
    }
    &__line {
      &--left {
        &-red {
          &-big,
          &-top,
          &-medium,
          &-bottom {
            display: none;
          }
        }

        &-blue {
          &-top,
          &-bottom,
          &-small {
            display: none;
          }
        }
      }
    }
  }

  .work__slide.red {
    padding: 55px 55px 28px 28px;
    height: 78vw;
    width: 100%;
    border-color: $red;
    background: linear-gradient(-45deg, $red 0 $calculate, transparent 0) bottom right/50% 50%,
      linear-gradient(135deg, $red 0 $calculate, transparent 0) top left / 50% 50%, $alpha;
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask: linear-gradient(45deg, transparent 0 0, #fff 0) bottom left,
      linear-gradient(-45deg, transparent 0 $corn, #fff 0) bottom right,
      linear-gradient(135deg, transparent 0 $corn, #fff 0) top left,
      linear-gradient(-135deg, transparent 0 0, #fff 0) top right;
    -webkit-mask-size: 51% 51% !important;
    -webkit-mask-repeat: no-repeat !important;
    transition: all 0.5s ease;

    margin: 0;
    margin-bottom: 25px;

    svg {
      height: 130%;
      margin-left: 30px;
    }

    .work__slide-text {
      font-size: 27px;
      line-height: 27px;
    }
    &:nth-child(even) {
      margin: 0;
      margin-bottom: 25px;
    }

    &:hover {
      background: linear-gradient(-45deg, $red 0 $calculate, transparent 0) bottom right/50% 50%,
        linear-gradient(135deg, $red 0 $calculate, transparent 0) top left / 50% 50%, $red;
      background-origin: border-box;
      background-repeat: no-repeat;
    }
  }
}
